{%- assign region = '' | split:'' -%}{%- for i in site.data.contacts -%}{%- if i.type contains "region" -%}{%- assign region = region | push:i -%}{%- endif -%}{%- endfor -%}
{%- assign district = '' | split:'' -%}{%- for i in site.data.contacts -%}{%- if i.type contains "district" -%}{%- assign district = district | push:i -%}{%- endif -%}{%- endfor -%}
{%- assign city = '' | split:'' -%}{%- for i in site.data.contacts -%}{%- if i.type contains "city" -%}{%- assign city = city | push:i -%}{%- endif -%}{%- endfor -%}
{%- assign town = '' | split:'' -%}{%- for i in site.data.contacts -%}{%- if i.type contains "town" -%}{%- assign town = town | push:i -%}{%- endif -%}{%- endfor -%}
{%- assign village = '' | split:'' -%}{%- for i in site.data.contacts -%}{%- if i.type contains "village" -%}{%- assign village = village | push:i -%}{%- endif -%}{%- endfor -%}
{%- assign url = page.url | split: "/" -%}{%- assign size = url | size -%}

{%- if size != 9 -%}
  {%- for contact in region -%}
    {%- if page.url and page.url contains contact.type and page.url contains contact.item -%}
      {%- if include.legal contains "phone" -%}
        {%- include footer/phone.html legal=include.legal -%}
      {%- elsif include.legal == "email" -%}
        {%- include footer/email.html legal=include.legal -%}
      {%- else -%}
        {%- include footer/text.html legal=include.legal -%}
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

{%- if size != 6 -%}
  {%- for contact in city -%}
    {%- if page.url and page.url contains contact.type and page.url contains contact.item -%}
      {%- if include.legal contains "phone" -%}
        {%- include footer/phone.html legal=include.legal -%}
      {%- elsif include.legal == "email" -%}
        {%- include footer/email.html legal=include.legal -%}
      {%- else -%}
        {%- include footer/text.html legal=include.legal -%}
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

{%- if size != 6 and size != 7 and size != 10 -%}
  {%- for contact in district -%}
    {%- if page.url and page.url contains contact.type and page.url contains contact.item -%}
      {%- if size == 5 and page.url contains "village" -%}
      {%- elsif include.legal contains "phone" -%}
        {%- include footer/phone.html legal=include.legal -%}
      {%- elsif include.legal == "email" -%}
        {%- include footer/email.html legal=include.legal -%}
      {%- else -%}
        {%- include footer/text.html legal=include.legal -%}
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

{%- for contact in town -%}
  {%- if page.url and page.url contains contact.type and page.url contains contact.item -%}
    {%- if include.legal contains "phone" -%}
      {%- include footer/phone.html legal=include.legal -%}
    {%- elsif include.legal == "email" -%}
      {%- include footer/email.html legal=include.legal -%}
    {%- else -%}
      {%- include footer/text.html legal=include.legal -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}

{%- for contact in village -%}
  {%- if page.url and page.url contains contact.type and page.url contains contact.item -%}
    {%- if include.legal contains "phone" -%}
      {%- include footer/phone.html legal=include.legal -%}
    {%- elsif include.legal == "email" -%}
      {%- include footer/email.html legal=include.legal -%}
    {%- else -%}
      {%- include footer/text.html legal=include.legal -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}
