{%- if page.url contains "village" -%}{%- assign isVillage = true -%}{%- else -%}{%- assign isVillage = false -%}{%- endif -%}
### {{isVillag}} ###<br>
{%- if size == 3 and isVillage == false -%}
  {%- include footer/legal.html dir=dir legal=include.legal type=include.type -%}
{%- elsif size == 4 and isVillage == false -%}
  {%- assign size = url | size | minus: 2 -%}
  {%- assign dir = url | slice: 0, size | join: "/" -%}
  {%- include footer/legal.html dir=dir legal=include.legal type=include.type -%}
{%- elsif size == 5 and isVillage == false -%}
  {%- assign size = url | size | minus: 3 -%}
  {%- assign dir = url | slice: 0, size | join: "/" -%}
  {%- include footer/legal.html dir=dir legal=include.legal type=include.type -%}
{%- elsif size == 7 and isVillage == false -%}
  {%- assign size = url | size | minus: 5 -%}
  {%- assign dir = url | slice: 0, size | join: "/" -%}
  {%- include footer/legal.html dir=dir legal=include.legal type=include.type -%}
{%- elsif size == 8 and isVillage == false -%}
  {%- assign size = url | size | minus: 6 -%}
  {%- assign dir = url | slice: 0, size | join: "/" -%}
  {%- include footer/legal.html dir=dir legal=include.legal type=include.type -%}
{%- elsif size <= 2 and isVillage == false -%}
  {%- if include.legal == "name" -%}
    {%- include footer/name.html legal=include.legal -%}
  {%- elsif include.legal == "phone" -%}
    {%- include footer/phone.html legal=include.legal type=include.type -%}
  {%- elsif include.legal == "email" -%}
    {%- include footer/email.html legal=include.legal -%}
  {%- else -%}
    {%- if page.legal[include.legal] -%}{{ page.legal[include.legal] }}{%- else -%}{{ site.legal[include.legal] }}{%- endif -%}
  {%- endif -%}
{%- else -%}
{%- endif -%}
