{%- assign region = '' | split:'' -%}
{%- for i in site.data.contacts -%}
  {%- if i.type contains "region" -%}
    {%- assign region = region | push:i -%}
  {%- endif -%}
{%- endfor -%}

{%- assign district = '' | split:'' -%}
{%- for i in site.data.contacts -%}
  {%- if i.type contains "district" -%}
    {%- assign district = district | push:i -%}
  {%- endif -%}
{%- endfor -%}

{%- assign city = '' | split:'' -%}
{%- for i in site.data.contacts -%}
  {%- if i.type contains "city" -%}
    {%- assign city = city | push:i -%}
  {%- endif -%}
{%- endfor -%}

{%- assign town = '' | split:'' -%}
{%- for i in site.data.contacts -%}
  {%- if i.type contains "town" -%}
    {%- assign town = town | push:i -%}
  {%- endif -%}
{%- endfor -%}

{%- assign village = '' | split:'' -%}
{%- for i in site.data.contacts -%}
  {%- if i.type contains "village" -%}
    {%- assign village = village | push:i -%}
  {%- endif -%}
{%- endfor -%}

{%- assign url = page.url | split: "/" -%}
{%- assign size = url | size -%}

{%- for contact in region -%}
  {%- if page.url contains contact.type and page.url contains contact.item -%}
    {%- if include.legal contains "phone" -%}
      {%- include footer/phone.html legal=include.legal -%}
    {%- elsif include.legal == "email" -%}
      {%- include footer/email.html legal=include.legal -%}
    {%- else -%}
      {{ contact[include.legal] }}
    {%- endif -%}
  {%- endif -%}
{%- else -%}
  {{ site.contact[include.legal] }}
{%- endfor -%}

{%- for contact in city -%}
  {%- if page.url contains contact.type and page.url contains contact.item -%}
    {%- if include.legal contains "phone" -%}
      {%- include footer/phone.html legal=include.legal -%}
    {%- elsif include.legal == "email" -%}
      {%- include footer/email.html legal=include.legal -%}
    {%- else -%}
      {{ contact[include.legal] }}
    {%- endif -%}
  {%- endif -%}
{%- else -%}
  {{ site.contact[include.legal] }}
{%- endfor -%}

{%- for contact in district -%}
  {%- if page.url contains contact.type and page.url contains contact.item -%}
    {%- if size == 5 and page.url contains "village" -%}
    {%- elsif include.legal contains "phone" -%}
      {%- include footer/phone.html legal=include.legal -%}
    {%- elsif include.legal == "email" -%}
      {%- include footer/email.html legal=include.legal -%}
    {%- else -%}
      {{ contact[include.legal] }}
    {%- endif -%}
  {%- endif -%}
{%- else -%}
  {{ site.contact[include.legal] }}
{%- endfor -%}

{%- for contact in town -%}
  {%- if page.url contains contact.type and page.url contains contact.item -%}
    {%- if include.legal contains "phone" -%}
      {%- include footer/phone.html legal=include.legal -%}
    {%- elsif include.legal == "email" -%}
      {%- include footer/email.html legal=include.legal -%}
    {%- else -%}
      {{ contact[include.legal] }}
    {%- endif -%}
  {%- endif -%}
{%- else -%}
  {{ site.contact[include.legal] }}
{%- endfor -%}

{%- for contact in village -%}
  {%- if page.url contains contact.type and page.url contains contact.item and size >= 5 -%}
    {%- if include.legal contains "phone" -%}
      {%- include footer/phone.html legal=include.legal -%}
    {%- elsif include.legal == "email" -%}
      {%- include footer/email.html legal=include.legal -%}
    {%- else -%}
      {{ contact[include.legal] }}
    {%- endif -%}
  {%- endif -%}
{%- else -%}
  {{ site.contact[include.legal] }}
{%- endfor -%}


{% comment %}

{%- if size == 3 -%}
  {%- include footer/legal.html dir=dir legal=include.legal type=include.type -%}
{%- elsif size == 4 -%}
  {%- assign size = url | size | minus: 2 -%}
  {%- assign dir = url | slice: 0, size | join: "/" -%}
  {%- include footer/legal.html dir=dir legal=include.legal type=include.type -%}
{%- elsif size == 7 -%}
  {%- assign size = url | size | minus: 5 -%}
  {%- assign dir = url | slice: 0, size | join: "/" -%}
  {%- include footer/legal.html dir=dir legal=include.legal type=include.type -%}
{%- elsif size == 8 -%}
  {%- assign size = url | size | minus: 6 -%}
  {%- assign dir = url | slice: 0, size | join: "/" -%}
  {%- include footer/legal.html dir=dir legal=include.legal type=include.type -%}
{%- elsif size <= 2 -%}
  {%- if include.legal == "name" -%}
    {%- include footer/name.html legal=include.legal -%}
  {%- elsif include.legal == "phone" -%}
    {%- include footer/phone.html legal=include.legal type=include.type -%}
  {%- elsif include.legal == "email" -%}
    {%- include footer/email.html legal=include.legal -%}
  {%- else -%}
    {%- if page.legal[include.legal] -%}{{ page.legal[include.legal] }}{%- else -%}{{ site.legal[include.legal] }}{%- endif -%}
  {%- endif -%}
{%- else -%}
{%- endif -%}

{% endcomment %}
