{% comment %}

{%- for page in site.pages -%}
  {%- if page.url contains include.dir -%}
    {%- if include.legal == "name" -%}
      {% if isCityTown == true %}
        {%- if page.council.title -%}
          {{ page.council.title }} міська&nbsp;рада
        {%- elsif page.legal[include.legal]-%}
          {{ page.legal[include.legal] }}
        {%- endif -%}
      {% elsif page.url contains "/region/ivano-frankivsk/" %}
        {%- if page.council.title -%}
          {{ page.council.title }} обласна&nbsp;рада
        {%- elsif page.legal[include.legal] -%}
          {{ page.legal[include.legal] }}
        {%- endif -%}
      {% else %}
        {%- if page.council.title -%}
          {{ page.council.title }} райо́нна&nbsp;рада
        {%- elsif page.legal[include.legal] -%}
          {{ page.legal[include.legal] }}
        {%- endif -%}
      {% endif %}
    {%- elsif include.legal == "phone" -%}
      <a href="tel:+38{{ page.legal[include.legal][include.type] | strip | remove: '(' | remove: ')' | remove: ' ' }}">{{ page.legal[include.legal][include.type] | replace: " ", "&nbsp;" }}</a>
    {%- elsif include.legal == "email" -%}
      <a href="mailto:{{ page.legal[include.legal] }}">{{ page.legal[include.legal] }}</a>
    {%- else -%}
      {{ page.legal[include.legal] }}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}

{% endcomment %}
