.breadcrumb {
  flex-wrap: nowrap;
}
@media screen and (max-width:768px) {
  .main-breadcrumbs {
    padding-bottom: 0;
  }
}
.main-breadcrumbs .breadcrumb {
  background-color: transparent;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
// .main-breadcrumbs .breadcrumb>li {
//   display: inline-block;
// }
@media screen and (max-width:768px) {
  .main-breadcrumbs .breadcrumb>li {
    display: none;
  }
}
@media screen and (max-width:768px) {
  .main-breadcrumbs .breadcrumb>li:nth-last-child(2){
    display: block;
  }
  .main-breadcrumbs .breadcrumb>li:nth-last-child(2):before{
    font-size: 87%;
    display: inline-block;
    content: "\2190";
    color: #2669e3;
    padding-left: 0;
    padding-right: 10px;
  }
}
.main-breadcrumbs .breadcrumb>li.active{
  // font-size: 90%;
  // color: #a7a9af;
  max-width: 750px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  // top: 4px;
}
