
@import "main-logo";
@import "modal";

header .menu-container .menu ul li a {
  display: block;
  width: 100%;
  color: #ffffff;
  font-size: 100%;
  font-weight: 700;
  letter-spacing: 0;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-right: 12px;
  padding-left: 12px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
header .menu-container .menu ul li a:hover {
  color: #ffe358;
}

header .header-bg {
    background: radial-gradient(435.92px at 50% 50%,#104D82 0%,#234161 100%);
}
header .main-title .icon {
    display: block;
    margin: 0 auto;
}
header .main-title .h1 {
    color: #ffffff;
    font-variant: small-caps;
    margin-bottom: 7px;
    font-size: 180%;
    letter-spacing: 4px;
    padding-top: 14px;
    padding-left: 5px;
}
header .main-title .light {
    color: #aab3c6;
    font-size: 100%;
    letter-spacing: .2px;
    padding-top: 2px;
    left: 2px;
    position: relative;
}
