header .main-logo {
    display: flex;
    cursor: pointer;
}
header .main-logo .icon {
    position: relative;
    width: 10px;
    height: 40px;
    background-color: #2669e3;
}
header .main-logo .icon:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 10px;
    height: 20px;
    background-color: #ffe358;
}
header .main-logo_text {
    display: flex;
    flex-wrap: wrap;
    max-width: calc(100% - 25px);
    flex: 0 0 calc(100% - 25px);
    font-weight: 700;
}
header .main-logo_text span {
    color: #ffffff;
    padding-left: 10px;
    font-size: 125%;
    line-height: 10px;
    height: 20px;
    border-bottom: none !important;
    letter-spacing: 0;
    max-width: 100%;
    flex: 0 1 100%;
}
header .main-logo_text .light {
    color: #aab3c6;
    font-size: 85%;
    line-height: 15px;
    height: 20px;
    margin-top: 5px;
}
