
//
// Scrolltop
//
.scroll-top {
  overflow: hidden;
  @include transition(all .3s ease-in-out);
  z-index: $zindex-sticky;
  background-color: $gray-700;
  color: #ffffff;
  bottom: ($grid-gutter-width / 2);
  right: ($grid-gutter-width / 2);
  position: fixed;
  opacity: 0;
  width: 3em;
  height: 3em;
  &:active,
  &:focus,
  &:hover {
      color: #ffffff;
      background-color: $primary;
  }
  .scroll-top-icon {
      @extend .css-arrow;
  }
  &.scroll-top-visible {
      opacity: 1;
  }
}
