.modal.gov .gov-ua {
  background-color: #31486c;
  border-radius: 0;
}
.modal.gov .gov-ua .close {
  color: #ffffff;
}
.modal.gov .gov-ua .modal-footer {
  justify-content: left;
}
.modal.gov .gov-ua .outer-links {
  float: left;
  color: #ffffff;
  line-height: 30px;
  margin-right: 65px;
  list-style: none;
}
.modal.gov .gov-ua .outer-links li {
  line-height: 17px;
  margin-bottom: 10px;
}
.modal.gov .gov-ua .outer-links a span {
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  border-bottom: 1px solid transparent;
}
.modal.gov .gov-ua .outer-links a {
  color: #ffffff;
}
