.nav-tabs .nav-item {
  font-weight: 600;
  margin-bottom: 0;
  margin-right: 30px;
}
.nav-tabs .nav-link {
  color: #2d5ca6;
  border: none;
  border-bottom: 4px solid #ffffff;
  background: transparent;
  padding: .5rem 0rem;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #000000;
  border: none;
  background: transparent;
  border-bottom: 4px solid #2d5ca6;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  color: #000000;
  border: none;
  background: transparent;
  border-bottom: 4px solid #2d5ca6;
}
