.nav-tabs .nav-item {
  color: #000000;
  border: none;
  padding-left: 0;
  margin-right: 30px;
  margin-bottom: 0;
}

.nav-tabs .nav-link {
    color: #000000;
    border-bottom: 4px solid #2d5ca6
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: transparent;
}
