.container{
  margin:50px;
}

@media(min-width:768px){
  .panel-heading{
    display:none;
  }
  .panel{
    border:none;
    box-shadow:none;
  }
  .panel-collapse{
    height:auto;
    &.collapse{
      display:block;
    }
  }
}

@media(max-width:767px){
  .tab-content{
    .tab-pane{
       display:block;
    }
  }
   .nav-tabs{
      display:none;
  }
  .panel-title a{
    display:block;
  }
  .panel{
    margin:0;
    box-shadow:none;
    border-radius:0;
     margin-top:-2px;
  }
  .tab-pane{
     &:first-child{
      .panel{
        border-radius:5px 5px 0 0;
      }
    }
    &:last-child{
      .panel{
        border-radius:0 0 5px 5px;
      }
    }
  }
}
