//
// Headline Scaling
//
// @each $breakpoint in map-keys($headline-scaling) {
//     @include media-breakpoint-up($breakpoint) {
//         $scaling: map-get($headline-scaling, $breakpoint);
//         h1,
//         .h1 { font-size: $h1-font-size * $scaling; }
//         h2,
//         .h2 { font-size: $h2-font-size * $scaling; }
//         h3,
//         .h3 { font-size: $h3-font-size * $scaling; }
//         h4,
//         .h4 { font-size: $h4-font-size * $scaling; }
//         h5,
//         .h5 { font-size: $h5-font-size * $scaling; }
//         h6,
//         .h6 { font-size: $h6-font-size * $scaling; }
//     }
// }

//
// Responsive Weight
//
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    // $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix(max, $grid-breakpoints);
    .font#{$infix}-weight-bold  { font-weight: 700!important; }
    // .font#{$infix}-xs-weight-bold  { font-weight: 700!important; }
    // .font#{$infix}-sm-weight-bold  { font-weight: 700!important; }
    // .font#{$infix}-md-weight-bold  { font-weight: 700!important; }
    // .font#{$infix}-lg-weight-bold  { font-weight: 700!important; }
    // .font#{$infix}-xl-weight-bold  { font-weight: 700!important; }
  }
}
