---
layout: default
title: Івано-Франківська область
---

### {{ site.data.labels.all_news }} - all_news ### <br>
### {{ site.data.labels.news.all }} - labels.news.all ### <br>
### {{ site.data.labels.decisionss.all }} - labels.decisionss.all### <br>

<div class="container">
  <div class="row">
    <div class="col-12">{% include home/deck.html %}</div>
  </div>
</div>

{% comment %}
{% include home/news-last.html cat='bohorodchany' num="6" %}
{% include home/decisions-last.html cat='bohorodchany' num="6" %}
{% endcomment %}
