<div class="modal fade gov" id="govModal" tabindex="-1" role="dialog" aria-labelledby="govModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content gov-ua">
      <div class="modal-header border-0">
        <button type="button" class="close py-1 px-2" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body py-0">
        <ul class="outer-links">
          <li>
            <a href="http://www.president.gov.ua/" target="_blank" rel="nofollow">
              <span>Президент України</span>
            </a>
          </li>
          <li>
            <a href="http://rada.gov.ua/" target="_blank" rel="nofollow">
              <span>Верховна Рада України</span>
            </a>
          </li>
        </ul>
        <ul class="outer-links">
          <li>
            <a href="http://www.ccu.gov.ua/" target="_blank" rel="nofollow">
              <span>Конституційний Суд України</span>
            </a>
          </li>
          <li>
            <a href="http://www.rnbo.gov.ua/" target="_blank" rel="nofollow">
              <span>Рада національної безпеки і оборони України</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="modal-footer border-0">
        <ul class="outer-links">
          <li>
            <a href="https://www.kmu.gov.ua/" target="_blank" rel="nofollow">
              <span>Кабінет Міністрів України - Урядрвий портал</span>
            </a>
          </li>
          <li>
            <a href="http://www.if.gov.ua/" target="_blank" rel="nofollow">
              <span>Івано-Франківська обласна державна адміністрація</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
