
<table
  id="phones"
  data-locale="uk-UA"
  data-toggle="table"
  data-search="true"
  data-sort-class="table-active"
  data-sortable="true"
  data-detail-view="true"
  data-detail-view-icon="false"
  data-detail-view-by-click="true"
  data-detail-formatter="detailFormatter"
  data-pagination="true"
  data-url="{{ include.dir }}data/09.json">
  <thead>
    <tr>
      <th data-field="fullname" data-title="Прізвище, ім'я, по батькові">Name</th>
      <th data-field="phones" data-title="Телефон">Phones</th>
    </tr>
  </thead>
</table>
