<hr>
{%- assign back = page.url | split: "/" -%}
{%- if back contains "news" or back contains "decisions" -%}
  {%- assign minus = 4 -%}
{%- else -%}
  {%- assign minus = 1 -%}
{%- endif -%}
{%- assign size = back | size | minus:minus -%}
<span class="mr-1">&larr;</span><a href="{{ back | slice: 0, size | join: "/" }}/">
  {%- if back contains "news" -%}
    {{ site.data.labels.news_back_list }}
  {%- elsif back contains "decisions" -%}
    {{ site.data.labels.decisions_back_list }}
  {%- elsif back contains "deputies" -%}
    {{ site.data.labels.deputies_back_list }}
  {%- else -%}
    {{ site.data.labels.back_list }}
  {%- endif -%}
</a>
