{%- if include.content and page.dir contains include.content -%}

  {%- assign lists = site.pages | sort: 'path' | reverse -%}
  {%- for list in lists -%}
    {%- if forloop.first -%}
    <div class="row row-cols-1 row-cols-md-3 row-cols-sm-2">
    {%- endif -%}
      {%- capture slug -%}{{ list.url | split: "/" | last }}{%- endcapture -%}
      {%- capture current -%}{{ list.url | remove: slug | remove: "//" | append: "/" }}{%- endcapture -%}
      {%- if page.dir == current and page.navhide != 1 -%}
        <div class="col mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">
                <a href="{{ list.url }}">
                  {%- if list.navtitle -%}{{ list.navtitle }}{%- else -%}{{ list.title }}{%- endif -%}
                </a>
              </h5>
              <p class="card-text">
                {%- include deputies-list-description.html slug=slug -%}
              </p>
            </div>
          </div>
        </div>
      {%- endif -%}
    {%- if forloop.last -%}
    </div>
    {%- endif -%}
  {%- else -%}
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="alert alert-info" role="alert">
          {{ site.data.labels.deputies_list_empty }}
        </div>
      </div>
    </div>
  {%- endfor -%}

{%- elsif include.page == "village" and include.dir != page.dir and include.dir contains page.dir -%}

  {%- assign villages = '' | split:'' -%}
  {%- assign pages = site.pages | sort: 'path' | reverse -%}
  {%- if isCityTown == true -%}{%- assign nsize = 6 -%}{%- else -%}{%- assign nsize = 5 -%}{%- endif -%}
  {%- for i in pages -%}
    {% assign parts = i.url | split: '/' %}
    {% assign depth = parts | size %}
    {%- if i.dir contains include.dir and depth == nsize -%}
      {%- assign villages = villages | push:i -%}
    {%- endif -%}
  {%- endfor -%}
  {%- if villages -%}
    {%- for village in villages limit:6 -%}
      {%- if forloop.first -%}
      <div class="row row-cols-1 row-cols-md-3 row-cols-sm-2">
      {%- endif -%}
        <div class="col mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">
                <a href="{{ village.url }}">
                  {%- if village.navtitle -%}{{ village.navtitle }}{%- else -%}{{ village.title }}{%- endif -%}
                </a>
              </h5>
              {%- if village.teaser -%}
                <p class="card-text mb-1">
                  {{ village.teaser | strip_html | truncate: 110 }}
                </p>
              {%- endif -%}
            </div>
          </div>
        </div>
      {%- if forloop.last -%}
      </div>
      <div class="row">
        <div class="col-auto ml-auto">
          <a class="btn btn-primary" href="{{include.dir}}">{{ site.data.labels.villages_all }}</a>
        </div>
      </div>
      {%- endif -%}
    {%- else -%}
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="alert alert-info" role="alert">
            {{ site.data.labels.villages_list_empty }}
          </div>
        </div>
      </div>
    {%- endfor -%}
  {%- endif -%}

{%- elsif include.page == "district" and include.dir != page.dir and include.dir contains page.dir -%}

  {%- assign deputies = '' | split:'' -%}
  {%- assign pages = site.pages | sort: 'path' | reverse -%}
  {%- for i in pages -%}
    {%- if i.dir contains include.dir -%}
      {%- assign deputies = deputies | push:i -%}
    {%- endif -%}
  {%- endfor -%}
  {%- if deputies -%}
    {%- for convocation in deputies offset:1 limit:6 -%}
      {%- if forloop.first -%}
      <div class="row row-cols-1 row-cols-md-3 row-cols-sm-2">
      {%- endif -%}
        <div class="col mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">
                <a href="{{ convocation.url }}">
                  {%- if convocation.navtitle -%}{{ convocation.navtitle }}{%- else -%}{{ convocation.title }}{%- endif -%}
                </a>
              </h5>
              <p class="card-text mb-1">
                {%- include deputies-list-description.html url=convocation.url -%}
              </p>
            </div>
          </div>
        </div>
      {%- if forloop.last -%}
      </div>
      <div class="row">
        <div class="col-auto ml-auto">
          <a class="btn btn-primary" href="{{include.dir}}">{{ site.data.labels.deputies_all }}</a>
        </div>
      </div>
      {%- endif -%}
    {%- else -%}
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="alert alert-info" role="alert">
            {{ site.data.labels.deputies_list_empty }}
          </div>
        </div>
      </div>
    {%- endfor -%}
  {%- endif -%}

{%- elsif include.page == "home" and include.dir != page.dir and include.dir contains page.dir -%}

  {%- assign deputies = '' | split:'' -%}
  {%- assign pages = site.pages | sort: 'path' | reverse -%}
  {%- for i in pages -%}
    {%- if i.dir contains include.dir -%}
      {%- assign deputies = deputies | push:i -%}
    {%- endif -%}
  {%- endfor -%}
  {%- if deputies -%}
    {%- for convocation in deputies offset:1 limit:3 -%}
      {%- if forloop.first -%}
      <div class="row row-cols-1">
      {%- endif -%}
        <div class="col">
          <div class="card h-100 border-0">
            <div class="card-body px-0 pt-0">
              <h5 class="card-title mb-1">
                <a href="{{ convocation.url }}">
                  {%- if convocation.navtitle -%}{{ convocation.navtitle }}{%- else -%}{{ convocation.title }}{%- endif -%}
                </a>
              </h5>
              <p class="card-text mb-1">
                {%- include deputies-list-description.html url=convocation.url -%}
              </p>
            </div>
          </div>
        </div>
      {%- if forloop.last -%}
      </div>
      <div class="row">
        <div class="col-auto ml-auto">
          <a class="btn btn-primary" href="{{include.dir}}">{{ site.data.labels.deputies_all }}</a>
        </div>
      </div>
      {%- endif -%}
    {%- else -%}
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="alert alert-info" role="alert">
            {{ site.data.labels.deputies_list_empty }}
          </div>
        </div>
      </div>
    {%- endfor -%}
  {%- endif -%}

{%- else -%}

  <ul class="list-group">
    {%- assign lists = site.pages | sort: 'path' | reverse -%}
    {%- for list in lists -%}
      {%- capture slug -%}{{ list.url | split: "/" | last }}{%- endcapture -%}
      {%- capture current -%}{{ list.url | remove: slug | remove: "//" | append: "/" }}{%- endcapture -%}
      {%- if page.dir == current and page.navhide != 1 -%}
        <li class="list-group-item">
          <a href="{{ list.url }}">
            {%- if list.navtitle -%}{{ list.navtitle }}{%- else -%}{{ list.title }}{%- endif -%}
          </a>
        </li>
      {%- endif -%}
    {%- else -%}
    {%- endfor -%}
  </ul>

{%- endif -%}

{% comment %}
{% endcomment %}
