{%- if include.content and page.dir contains include.content -%}

  {%- assign lists = site.pages | sort: 'path' | reverse -%}
  {%- for list in lists -%}
    {%- if forloop.first -%}
    <div class="row row-cols-1 row-cols-md-3 row-cols-sm-2">
    {%- endif -%}
      {%- capture slug -%}{{ list.url | split: "/" | last }}{%- endcapture -%}
      {%- capture current -%}{{ list.url | remove: slug | remove: "//" | append: "/" }}{%- endcapture -%}
      {%- if page.dir == current and page.navhide != 1 -%}
        <div class="col mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">
                <a href="{{ list.url }}">
                  {%- if list.navtitle -%}{{ list.navtitle }}{%- else -%}{{ list.title }}{%- endif -%}
                </a>
              </h5>
              <p class="card-text">
                Перелік депутатів місцевої ради обраних на чергових місцевих виборах України у {{ slug | split: "-" | first }} році
              </p>
            </div>
          </div>
        </div>
      {%- endif -%}
    {%- if forloop.last -%}
    </div>
    {%- endif -%}
  {%- else -%}
    [...nothing...]
  {%- endfor -%}

{%- else -%}

<ul class="list-group">
  {%- assign lists = site.pages | sort: 'path' | reverse -%}
  {%- for list in lists -%}
    {%- capture slug -%}{{ list.url | split: "/" | last }}{%- endcapture -%}
    {%- capture current -%}{{ list.url | remove: slug | remove: "//" | append: "/" }}{%- endcapture -%}
    {%- if page.dir == current and page.navhide != 1 -%}
      <li class="list-group-item">
          <a href="{{ list.url }}">
            {%- if list.navtitle -%}{{ list.navtitle }}{%- else -%}{{ list.title }}{%- endif -%}
          </a>
      </li>
    {%- endif -%}
  {%- else -%}
  {%- endfor -%}
</ul>

{%- endif -%}
