<footer>
  <div class="container pt-4" style="border-top: 4px solid #2D5CA6;">
    <div class="row">
      <div class="col-12">
        <a class="ml-lg-3" data-toggle="collapse" href="#multiCollapseMap" role="button" aria-expanded="false" aria-controls="multiCollapseMap" data-target=".multi-collapse">
          <strong>Мапа вебсайту</strong>
        </a>
        <div class="container collapse multi-collapse" id="multiCollapseMap">
          {%- include map/0.html -%}
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center mt-4">
      <div class="col-md-6 col-lg-5">
        <div class="row">
          <div class="col-2 text-md-right">
            {%- include icons/trezub.svg width="27" height="45" -%}
          </div>
          <div class="col-10 pl-sm-0">
            <h5 class="mb-1">{%- include council-title.html -%}</h5>
            <p class="text-muted">

              {% assign subpage = site.pages | where: 'layout', 'district' %}
              ### {{ subpage[0].legal.address }} - 01 ###
              <br>
              ### {{ subpage[1].legal.address }} - 02 ###
              <br>
              <br>
              ### {{ subpage[2].legal.address }} - 03 ###
              <br>

              {%- if page.legal.address -%}{{ page.legal.address }}{%- else -%}{{ site.legal.address }}{%- endif -%}
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="row">
          <div class="col">
            <h6 class="mt-1">Телефони</h6>
            <p class="mb-0">{%- include phone.html type="main" -%}</p>
            <p>Факс:&nbsp;{%- include phone.html type="fax" -%}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-2">
        <div class="row">
          <div class="col">
            <h6 class="mt-1">Гаряча лінія</h6>
            <p>{%- include phone.html type="hot" -%}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-2">
        <div class="row">
          <div class="col">
            <h6 class="mt-1">Електронна пошта</h6>
            {%- if page.legal.email -%}
              <p><a href="mailto:{{ page.legal.email }}">{{ page.legal.email }}</a></p>
            {%- else -%}
              <p><a href="mailto:{{ site.legal.email }}">{{ site.legal.email }}</a></p>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <hr class="mt-4 mb-4">
  </div>
  <div class="container pb-4">
      <div class="row mb-4">
          <div class="col-lg-7 order-2 order-md-1">
            <div class="row">
              <div class="col-2 justify-content-center align-self-center d-flex">
                {%- include icons/gerb-circle.svg width="50" height="50" -%}
              </div>
              <div class="col-10 pl-0 text-muted">
                  Класичний текст, використовуваний з XVI сторіччя, наведено нижче для всіх зацікавлених.
                  Також точно за оригіналом наведено розділи 1.10.32 та 1.10.33 цицеронівського "de Finibus Bonorum et Malorum" разом із перекладом англійською, виконаним 1914 року Х.Рекемом.
              </div>
            </div>
          </div>
      </div>
      <div class="row mb-4">
          <div class="col-lg-7">
            <div class="row">
              <div class="col-2 justify-content-center align-self-center d-flex">
                {%- include icons/beta.svg width="50" height="25" -%}
              </div>
              <div class="col-10 pl-0 ext-muted">
                  Вебсайт працює в тестовому режимі.
                  Якщо ви маєте зауваження або пропозиції, будь ласка, напишіть нам:
                  <a href="#">email@email.email.ua</a>
              </div>
            </div>
          </div>
      </div>
      <div class="row justify-content-lg-between mb-4">
          <div class="col-lg-7 mb-4">
            <div class="row">
              <div class="col-2 justify-content-center align-self-center d-flex">
                {%- include icons/cc.svg width="50" height="50" -%}
              </div>
              <div class="col-10 pl-0 text-muted">
                  Увесь вміст доступний за ліцензією <a target="_blank" href="https://creativecommons.org/licenses/by/4.0/deed.uk" class="font-weight-bold" rel="nofollow">Creative Commons Attribution 4.0 International license</a>, якщо не зазначено інше
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-xl-4">

            <div class="media d-flex align-items-center align-self-center">
              {%- include icons/t3.svg width="14" height="14" -%}
              <div class="media-body ml-1">
                <a href="#" target="_blank" rel="nofollow">Компанія T3</a>
                <span> - розробник</span>
              </div>
            </div>

            {% comment %}
            {% endcomment %}

          </div>
      </div>
  </div>
</footer>
