{%- if isVillage == false -%}{%- assign decisions = '' | split:'' -%}{%- for i in site.categories[include.cat] -%}{%- unless i.url contains "village" or i.url contains "news" -%}{%- assign decisions = decisions | push:i -%}{%- endunless -%}{%- endfor -%}{% else %}{%- assign decisions = '' | split:'' -%}{%- for i in site.categories[include.cat] -%}{%- unless i.url contains "news" -%}{%- assign decisions = decisions | push:i -%}{%- endunless -%}{%- endfor -%}{%- endif -%}
{%- for decision in decisions -%}
{%- assign hasDecisions = true -%}
{%- else -%}
{%- assign hasDecisions = false -%}
{%- endfor -%}
