<header>
  <div class="container pl-3 pt-4 pr-3 pb-0 header-bg">
    <a class="sr-only sr-only-focusable" href="#page-content"><span>Перейти до основного вмісту</span></a>
    <div class="row">
      <div class="col-md-12 hidden-lg hidden-md navbar-fixed-top affix-top">
        <p>Mobile Menu</p>
      </div>
      <div class="col-md-3 hidden-xs hidden-sm">
        <a class="main-logo" data-toggle="modal" data-target="#govModal" href="#govModal" aria-haspopup="true" aria-expanded="false">
          <div class="icon"></div>
          <div class="main-logo_text">
            <span>gov.ua</span>
            <span class="light">Державні сайти України</span>
          </div>
        </a>
      </div>
      <div class="col-md-6">
        <p>Name rada</p>
      </div>
      <div class="col-md-3 hidden-xs hidden-sm">
        <p>Additional menu right</p>
      </div>
      <div class="col-md-12">
        <div class="menu-container">
          <div id="menuDesktop" class="menu-desktop">
            <nav class="menu">
              <ul>
                <li>
                  <a href="#">Menu one</a>
                </li>
                <li>
                  <a href="#">Menu two</a>
                </li>
                <li>
                  <a href="#">Menu three</a>
                </li>
                <li>
                  <a href="#">Item menu four</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

          <div class="modal fade" id="govModal" tabindex="-1" role="dialog" aria-labelledby="govModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header border-0 py-1 px-2">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer border-0">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>
</header>

{% comment %}

{% include header/skippy.html %}

{% include header/navbar.html %}

{% endcomment %}
