<header>
  <div class="container pl-3 pt-4 pr-3 pb-0 header-bg">
    <div class="row header_content justify-content-center">
      <div class="col-md-8 col-lg-6">
          <a href="/" class="header_main-link">
              <div class="header_logo"></div>
              <div class="header_headline center">
                  Орган державної влади
              </div>
              <div class="header_subtitle">
                  Єдиний веб-портал органів виконавчої влади України
              </div>
          </a>
      </div>
      <div class="col-md-4 col-lg-3 d-lg-none menu-toggle_box">
          <div id="menuToggle" class="menu-toggle">
              <span></span>
              <span></span>
              <span></span>
          </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</header>

{% comment %}

{% include header/skippy.html %}

{% include header/navbar.html %}

{% endcomment %}
