  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="description" content="{{ page.description }}" />
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="no" />
    <meta name="google" content="notranslate" />
    <meta name="author" content="{{ site.author.name }}" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:locale" content="uk_UA" />
    <meta property="og:site_name" content="{{ site.name }}" />
    <meta property="og:url" content="{{ page.url }}" />
    {% feed_meta %}
    <link rel="canonical" href="{{ page.url }}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="{{ 'favicon.ico' | relative_url }}">
  </head>
