<header id="layout-header">
                <p id="skipnav" class="skip"><a href="#mainContent" class="link-skip">Перейти до основної сторінки</a></p>

<!-- Nav -->
<div class="header-bg">
    <div class="row">

        <div class="col-md-12 hidden-lg hidden-md navbar-fixed-top" data-spy="affix" data-offset-top="157">
            <div class="menu-for-small-devices hidden-lg hidden-md" id="menuSm">
                <div class="header-top">
                    <a href="javascript:void(0);" aria-label="Закрити навігаційне меню" class="menu-icon close closeMenuSm pull-left"></a>
                    <div class="additional pull-right">
                        <ul>
                                <li class="change-lang">
    	        <div class="icon"></div>
        <span tabindex="0" aria-label="Кнопка зміни мови" onclick="$(this).request('onSwitchLocale', {data: {locale: 'en', url: ''}}); return false;">In English</span>
    </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="menu-sm-wrap-for-scroll">
                    <div class="menu-container">
                                    <nav class="menu">
    <ul>
            <li>
        <a class="showSubmenu" href="#" aria-haspopup="true" aria-expanded="false">
            Уряд і органи влади
        </a>

            </li>
    <li>
        <a class="showSubmenu" href="javascript:void(0);" aria-haspopup="true" aria-expanded="false">
            Послуги
        </a>

            </li>
    <li>
        <a class="showSubmenu" href="javascript:void(0);" aria-haspopup="true" aria-expanded="false">
            Діяльність
        </a>

            </li>
    <li>
        <a class="" href="http://kmu.gov.ua/ua/npasearch">
            Рішення Уряду
        </a>
            </li>
    <li>
        <a class="showSubmenu" href="#" aria-haspopup="true" aria-expanded="false">
            Для громадськості
        </a>

            </li>
    <li>
        <a class="showSubmenu" href="#" aria-haspopup="true" aria-expanded="false">
            Прес-центр
        </a>

            </li>
    </ul>
</nav>
</div>

                    <div class="js_hide_if_opened additional old-sm">
                        <ul>
                                                            <li class="old-version">
                                    <a href="http://old.kmu.gov.ua/" target="_blank" rel="nofollow">
                                            <div class="icon"></div>
                                            <span style="border-bottom:none">
                                                Стара версія
                                            </span>
                                    </a>
                                </li>
                                                    </ul>
                    </div>
                    <div class="js_hide_if_opened social-links">
                        <ul>

            <li>
            <a href="https://www.facebook.com/KabminUA" target="_blank" rel="nofollow">
                <i class="fa fa-facebook-square"></i>
                <span class="visuallyhidden"></span>
            </a>
        </li>
            <li>
            <a href="https://twitter.com/Kabmin_UA" target="_blank" rel="nofollow">
                <i class="fa fa-twitter"></i>
                <span class="visuallyhidden"></span>
            </a>
        </li>
            <li>
            <a href="https://www.youtube.com/channel/UCYlTFedAEZiqE6r9eY0PZ1A" target="_blank" rel="nofollow">
                <i class="fa fa-youtube-play"></i>
                <span class="visuallyhidden"></span>
            </a>
        </li>
                            </ul>
                    </div>
                    <a class="js_hide_if_opened main-logo" data-toggle="modal" data-target="#govModal">
                        <div class="icon"></div>
                        <div class="main-logo_text">
                            <span>
                                gov.ua
                            </span>
                                <span class="light">
                                Державні сайти України
                            </span>
                        </div>
                    </a>

                </div>
            </div>
            <div class="header-top">
                <a href="javascript:void(0);" aria-label="Відкрити навігаційне меню" class="menu-icon pull-left" id="shomMenuSm"></a>
            </div>
        </div>
        <div class="col-md-3 hidden-xs hidden-sm">
            <a class="main-logo" data-toggle="modal" data-target="#govModal" href="javascript:void(0);" aria-haspopup="true" aria-expanded="false">
                <div class="icon"></div>
                <div class="main-logo_text">
                    <span>gov.ua</span>
                    <span class="light">Державні сайти України</span>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="/" class="main-title">
                <div class="icon">
                </div>
                <div class="h1">Урядовий портал</div>
                <div class="light">
                    Єдиний веб-портал органів виконавчої влади України
                </div>
            </a>
        </div>
        <div class="col-md-3 hidden-xs hidden-sm">
            <div class="additional">
                <ul>
                    <li class="change-vision" id="changeVision">
                        <div class="icon"></div>
                        <span tabindex="0">Людям із порушенням зору</span>
                    </li>
                    <li class="font-size-btns">
                        <div class="font-size-dec js_font_minus" id="fontInc">
                            A-
                        </div>
                        <div class="font-size-inc js_font_plus" id="fontDec">
                            A+
                        </div>
                        <div class="clearfix"></div>
                    </li>
                        <li class="change-lang">
    	        <div class="icon"></div>
        <span tabindex="0" aria-label="Кнопка зміни мови" onclick="$(this).request('onSwitchLocale', {data: {locale: 'en', url: ''}}); return false;">In English</span>
    </li>
                                            <li class="old-version">
                            <a href="http://old.kmu.gov.ua/" target="_blank" rel="nofollow">
                                    <div class="icon"></div>
                                    <span style="border-bottom: none">
                                        Стара версія
                                    </span>
                            </a>
                        </li>

                </ul>
            </div>
        </div>
        <div class="col-md-12">

            <div class="menu-container">

                <div class="hidden-xs hidden-sm menu-desktop__wrap">
                    <div id="menuDesktop" class="menu-desktop">
                                    <nav class="menu">
    <ul>
            <li>
        <a class="showSubmenu" href="javascript:void(0);" aria-haspopup="true" aria-expanded="false">
            Уряд і органи влади
        </a>

            </li>
    <li>
        <a class="showSubmenu" href="javascript:void(0);" aria-haspopup="true" aria-expanded="false">
            Послуги
        </a>

            </li>
    <li>
        <a class="showSubmenu" href="javascript:void(0);" aria-haspopup="true" aria-expanded="false">
            Діяльність
        </a>

            </li>
    <li>
        <a class="" href="http://kmu.gov.ua/ua/npasearch">
            Рішення Уряду
        </a>
            </li>
    <li>
        <a class="showSubmenu" href="javascript:void(0);" aria-haspopup="true" aria-expanded="false">
            Для громадськості
        </a>

            </li>
    <li>
        <a class="showSubmenu" href="javascript:void(0);" aria-haspopup="true" aria-expanded="false">
            Прес-центр
        </a>

            </li>
    </ul>
</nav>                        </div>
                </div>


<a class="main-search search-btn" id="searchShow" aria-haspopup="true" aria-expanded="false" href="javascript:void(0);">
    <div class="icon"></div>
    <span>
        Пошук
    </span>
</a>

<div class="search-form">

    <div class="close-icon" id="closeSearch"></div>

</div>
                <div class="social-links hidden-xs hidden-sm">
                    <ul>

            <li>
            <a href="https://www.facebook.com/KabminUA" target="_blank" rel="nofollow">
                <i class="fa fa-facebook-square"></i>
                <span class="visuallyhidden"></span>
            </a>
        </li>
            <li>
            <a href="https://twitter.com/Kabmin_UA" target="_blank" rel="nofollow">
                <i class="fa fa-twitter"></i>
                <span class="visuallyhidden"></span>
            </a>
        </li>
            <li>
            <a href="https://www.youtube.com/channel/UCYlTFedAEZiqE6r9eY0PZ1A" target="_blank" rel="nofollow">
                <i class="fa fa-youtube-play"></i>
                <span class="visuallyhidden"></span>
            </a>
        </li>
                        </ul>
                </div>

                <div class="clearfix"></div>

            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="modal fade gov" id="govModal" tabindex="-1" role="dialog">

                <div class="modal-dialog" role="document">

                    <div class="modal-body gov-ua">

                        <div class="icon-close" data-dismiss="modal"></div>

                        <ul class="outer-links">
                            <li>
                                <a href="http://www.president.gov.ua/" target="_blank" rel="nofollow">
                                    <span>
                                        Президент України
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="http://rada.gov.ua/" target="_blank" rel="nofollow">
                                    <span>Верховна Рада України</span>
                                </a>
                            </li>
                        </ul>

                        <ul class="outer-links">
                            <li>
                                <a href="http://www.ccu.gov.ua/" target="_blank" rel="nofollow">
                                    <span>
                                        Конституційний Суд України
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.rnbo.gov.ua/" target="_blank" rel="nofollow">
                                    <span>
                                        Рада національної безпеки і оборони України
                                    </span>
                                </a>
                            </li>
                        </ul>

                        <a class="bottom-link" href="/catalog">
                            <span>
                                Інші органи виконавчої влади
                            </span>
                        </a>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</header>

{% comment %}

{% include header/skippy.html %}

{% include header/navbar.html %}

{% endcomment %}
