{%- capture default -%}/assets/images/default-{{ include.group }}.png{%- endcapture -%}
{%- assign files = '' | split:'' -%}
{%- for i in site.static_files -%}
  {%- if i.path contains include.folder -%}
    {%- if i.extname == '.jpg' or i.extname == '.jpeg' or i.extname == '.JPG' or i.extname == '.JPEG' -%}
      {%- assign sizename = i.basename | size -%}
      {%- assign attribute_alt = i.basename | slice: 2, sizename -%}
      {%- assign attribute_title = attribute_alt | replace: '_', ' ' | capitalize -%}
      {%- assign files = files | push:i -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}

{%- for file in files -%}
  {%- if forloop.first -%}
<div id="carousel{{ include.group }}" class="carousel carousel-small carousel-fade slide" data-interval="5000" data-wrap="true" data-ride="carousel">
  {%- if include.indicator == '1' -%}
    {%- for indicator in files -%}
      {%- if forloop.first -%}
      <ol class="carousel-indicators">
      {%- endif -%}
        <li data-target="#carousel{{ include.group }}" data-slide-to="{%- increment counter -%}"{% if forloop.first %} class="active"{% endif %}></li>
      {%- if forloop.last -%}
      </ol>
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
  <div class="carousel-inner">
  {%- endif -%}
  <div class="carousel-item px-0{% if forloop.first %} active{% endif %}" data-itemno="{%- increment counter -%}">
    <a href="//images.weserv.nl/?url={{ site.url | replace: 'http://','' | replace: 'https://','' }}{{ file.path | url_decode | relative_url }}&w=1024&h=768&fit=cover&a=attention&output=jpg&q=50&t=square" class="lightbox" title="{{ attribute_title }}" data-lightbox-width="1024" data-lightbox-height="768" rel="lightbox-group-{{ include.group }}">
      <img class="d-block w-100" loading="lazy" src="//images.weserv.nl/?url={{ site.url | replace: 'http://','' | replace: 'https://','' }}{{ file.path | url_decode | relative_url }}&w={{ include.width }}&h={{ include.height }}&fit=cover&a=attention&output=jpg&q=50&t=square" alt="image-{{ attribute_alt }}" />
    </a>
  </div>
  {%- if forloop.last -%}
  </div>
  <a class="left carousel-control carousel-control-prev" href="#carousel{{include.group}}" role="button" data-slide="prev">
    <span class="carousel-control-icon carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">{{ site.data.labels.previous }}</span>
  </a>
  <a class="right carousel-control carousel-control-next" href="#carousel{{include.group}}" role="button" data-slide="next">
    <span class="carousel-control-icon carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">{{ site.data.labels.next }}</span>
  </a>
</div>
  {%- endif -%}
{%- else -%}
<img class="d-block w-100" loading="lazy" src="//images.weserv.nl/?url={{ site.url | replace: 'http://','' | replace: 'https://','' }}{{ default }}&w={{ include.width }}&h={{ include.height }}&fit=cover&a=attention&output=png&q=50&t=square" alt="image-default" />
{%- endfor -%}
