<div class="row row-cols-1 row-cols-sm-2 row-cols-md-{{ include.cols }} mt-1">
{%- for file in site.static_files -%}
  {%- if file.path contains include.folder -%}
    {%- if file.extname == '.png' or file.extname == '.jpg' or file.extname == '.jpeg' or file.extname == '.PNG' or file.extname == '.JPG' or file.extname == '.JPEG' -%}
      {%- assign sizename = file.basename | size -%}
      {%- assign alt = file.basename | slice: 2, sizename -%}
      {%- assign title = alt | replace: '-', ' ' | capitalize -%}
      <div class="col mb-4">
        <div class="card">
          <a href="//images.weserv.nl/?url={{ site.url | replace: 'http://','' | replace: 'https://','' }}{{ file.path | url_decode | relative_url }}&w=1024&h=768&fit=cover&a=attention&output=jpg&q=50&t=square" class="lightbox" title="{{ title }}" data-lightbox-width="1024" data-lightbox-height="768" rel="lightbox-group-{{ include.group }}">
            <img class="card-img-top" loading="lazy" src="//images.weserv.nl/?url={{ site.url | replace: 'http://','' | replace: 'https://','' }}{{ file.path | url_decode | relative_url }}&w=300&h=300&fit=cover&a=attention&output=jpg&q=50&t=square" alt="image-{{ alt }}" intrinsicsize="1100x800" />
          </a>
        </div>
      </div>
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}
</div>
