
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Шановний, відвідувачу!</h4>
        <p>Наразі вміст на сторінці відсутній але ми працюємо над тим аби наповнити стоірнку цікавим та корисним інформаційним вмістом.</p>
        <p>У той же час повідомляємо, що будь хто може долучитись до проекту та процесу наповнення вебсайту вмістом.</p>
        <p>Якщо ви мешканець або представник органу місцевого самоврядування цієї області чи цього району або міста, селища або села і можете надати будь-яку цікаву інформацію про місце де ви проживаєте, ми готові її прийняти та опублікувати на сторінках відповідного населеного пункту області.</p>
        <p>У якості інформації можуть бути будь-які дані в електронному форматі, а саме тексти, фотознімки, відео, інформаційні довідники (списки місцевих телефонів, депутатів, підприємств і тому подібне).</p>
        <p>Ми завжди вам раді та відкриті до співпраці і чекаємо на вас. Зв'яжіться з нами будь яким доступним для вас способом.</p>
        <hr>
        <p class="mb-0">З повагою, адміністрація вебсайту.</p>
      </div>
    </div>
  </div>
</div>
