<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand navbar-brand-image" href="{{ page.url }}">
    <img src="{{ site.logo }}" class="d-inline-block align-top" alt="{{ site.brand }}">
    {{ site.brand }}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainnavigation" aria-controls="mainnavigation" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mainnavigation">
    <ul class="navbar-nav mr-auto">
      {% for item in site.data.mainnavigation %}
        <li class="nav-item{% if page.url == item.link %} active{% endif %}">
          <a href="{{ item.link }}" class="nav-link">{{ item.name }}</a>
        </li>
      {% endfor %}
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
