
{% comment %}
{% assign posts = site.categories[include.cat] | where: "dir", "news" %}
{% assign posts = site.categories[include.cat] | where_exp: "item", "item.dir contains 'news'" %}
{% assign posts = site.categories[include.cat] | where_exp: "item", "item.dir contains 'news'" %}
{% endcomment %}


{% assign onlynews = '' | split:'' %}
{% for post in site.categories[include.cat] %}
  {% unless post.dir == "decisions" %}
    {% assign onlynews = onlynews | push:post %}
  {% endunless %}
{% endfor %}

<ul>
{% for post in onlynews limit:6 %}
  <li>
    <a href="{{post.url|absolute_url}}">{{post.title}}</a>
  </li>
{% endfor %}
</ul>

<br>


{%- for article in site.categories[include.cat] limit:include.num -%}
  {%- unless article.url contains "decisions" -%}
    {%- if forloop.first -%}
    <div class="row row-cols-1 row-cols-md-3 row-cols-sm-2">
    {%- endif -%}
    <div class="col mb-4">
      <div class="card h-100">
        {% comment %}<img src="/images/deputies.png" class="card-img-top" alt="image-news">{% endcomment %}
        <div class="card-body">
          <p class="card-text"><small class="text-muted">{{ article.date | date: '%-d %B %Y' }}</small></p>
          <h5 class="card-title"><a href="{{ article.url }}">{{ article.title }}</a></h5>
          <p class="card-text">{{ article.excerpt | strip_html | truncate: 110 }}</p>
          {% comment %}<p class="card-text"><small class="text-muted">{{ article.category }}</small></p>{% endcomment %}
        </div>
      </div>
    </div>
    {%- if forloop.last -%}
    </div>
    <hr>
    <div class="row justify-content-between">
      <div class="col-md-3 col-5 text-left"><p class="m-0">&nbsp;</p></div>
      <div class="col-md-3 col-5 text-right text-nowrap"><p class="m-0"><a href="{{page.dir}}news/" class="btn btn-primary">{{ site.label.news.all }}</a></p></div>
    </div>
    {%- endif -%}
  {%- endunless -%}
{% else %}
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="alert alert-info" role="alert">
      {{ site.label.news.no }}
    </div>
  </div>
</div>
{%- endfor -%}


{% comment %}
{% endcomment %}
