<hr>

site.paginate_path: {{site.paginate_path}}<br>
paginator.previous_page_path: {{paginator.previous_page_path}}

<br>
{{page.dir}} <br>

{%- assign back = page.dir | split: "/" -%}
{%- assign size = back | size | minus:2 -%}
{%- assign dir = back | slice: 0, size | join: "/" -%}
### {{ dir | append "/" }} ###

<hr>


{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | relative_url }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}


<hr>

<div class="section-pagination text-center">
    <nav class="d-table mx-auto">
        <ul class="pagination">
            {% if paginator.previous_page %}
                {% if paginator.previous_page == 1 %}
                    <li class="page-item"><a class="page-link" href="/news/">&laquo;</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="/news/page/{{ paginator.previous_page }}">&laquo;</a></li>
                {% endif %}
            {% else %}
                <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
            {% endif %}

            {% for i in (1..paginator.total_pages) %}
                {% if i == 1 %}
                    {% if paginator.page == i %}
                        <li class="page-item active"><span class="page-link">{{ i }}</span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="/news/">{{ i }}</a></li>
                    {% endif %}
                {% else %}
                    {% if paginator.page == i %}
                        <li class="page-item active"><span class="page-link">{{ i }}</span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="/news/page/{{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if paginator.next_page %}
                <li class="page-item"><a class="page-link" href="/news/page/{{ paginator.next_page }}">&raquo;</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
            {% endif %}
        </ul>
    </nav>
</div>


{% comment %}

<div class="section-pagination text-center">
    <nav class="d-table mx-auto">
        <ul class="pagination">
            {% if paginator.previous_page %}
                {% if paginator.previous_page == 1 %}
                    <li class="page-item"><a class="page-link" href="/news">&laquo;</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="/news/page/{{ paginator.previous_page }}">&laquo;</a></li>
                {% endif %}
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
            {% endif %}

            {% for i in (1..paginator.total_pages) %}
                {% if i == 1 %}
                    {% if paginator.page == i %}
                        <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="/">{{ i }}</a></li>
                    {% endif %}
                {% else %}
                    {% if paginator.page == i %}
                        <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="/news/page/{{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if paginator.next_page %}
                <li class="page-item"><a class="page-link" href="/news/page/{{ paginator.next_page }}">&raquo;</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
</div>

{% endcomment %}
