{% comment %}
<script src="{{ site.js.external.cdn.jquery.src }}" integrity="{{ site.js.external.cdn.jquery.integrity }}" crossorigin="{{ site.js.external.cdn.jquery.crossorigin }}"></script>
<script src="{{ site.js.external.cdn.popper.src }}" integrity="{{ site.js.external.cdn.popper.integrity }}" crossorigin="{{ site.js.external.cdn.popper.crossorigin }}"></script>
<script src="{{ site.js.external.cdn.bootstrap.src }}" integrity="{{ site.js.external.cdn.bootstrap.integrity }}" crossorigin="{{ site.js.external.cdn.bootstrap.crossorigin }}"></script>
<script src="{{ "/assets/js/photoswipe.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/photoswipe-ui-default.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/bootstrap.swipe.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/bootstrap.lightbox.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/rada.js" | relative_url }}"></script>
<script src="{{ "/assets/js/responsive-tabs.js" | relative_url }}"></script>
<script src="{{ "/assets/js/popper.min" | relative_url }}"></script>
{% endcomment %}

<script src="{{ "/assets/js/jquery.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/popper.min" | relative_url }}"></script>
<script src="{{ "/assets/js/bootstrap.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/photoswipe.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/photoswipe-ui-default.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/bootstrap.lightbox.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/bootstrap.smoothscroll.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/jquery.responsivetabs.js" | relative_url }}"></script>
<script src="{{ "/assets/js/rada.js" | relative_url }}"></script>
