---
layout: news
title: Офіційні новини Богородчанської районної ради
navtitle:
subtitle:
description:
pagination:
  enabled: true
  category: bohorodchany
  sort_field: 'date'
breadcrumb: Новини
---

{%- include news-list.html cat=page.pagination.category -%}

{% comment %}

{%- for news in site.categories.bohorodchany %}
  {% unless news.url contains "decisions" %}
    {{ news.title }}<br><br>
  {% endunless %}
{%- endfor -%}

{% include news-list.html cat=page.pagination.category %}

{%- for news in site.categories.news %}
  {% if news.url contains "bohorodchany" %}
    {{ news.title }}<br><br>
  {% endif %}
{%- endfor -%}

{% endcomment %}
