{%- assign secondlevel = site.pages | sort: "path" -%}
{%- for second in secondlevel -%}
  {%- if second -%}
    {%- if forloop.first -%}<ul class="list-unstyled">{%- endif -%}
      {%- capture slug -%}{{ second.url | split: "/" | last }}{%- endcapture -%}
      {%- capture current -%}{{ second.url | remove: slug | remove: "//" | append: "/" }}{%- endcapture -%}
      {%- if include.current == current and second.navhide != 1 and second.title != '' -%}
      <li>
        <a href="{{ second.url }}">
          {%- if second.navtitle -%}{{ second.navtitle }}{%- else -%}{{ second.title }}{%- endif -%}
        </a>
        {%- include map/2.html current=second.url -%}
      </li>
      {%- endif -%}
    {%- if forloop.last -%}</ul>{%- endif -%}
  {%- endif -%}
{%- endfor -%}
