{%- assign pages = site.pages | sort: "path" -%}

{% assign parts = include.current | split: '/' %}
{% assign depth = parts | size %}
{% assign depth = depth | plus:1 %}
{% assign isChildren = false %}
{% for i in pages %}
  {% if i.url contains include.current and i.url != include.current %}
    {% assign isChildren = true %}
  {% endif %}
{% endfor %}

{%- for second in pages -%}
  {%- if isChildren == true -%}
    {%- if forloop.first -%}<ul class="list-unstyled">{%- endif -%}
      {%- capture slug -%}{{ second.url | split: "/" | last }}{%- endcapture -%}
      {%- capture current -%}{{ second.url | remove: slug | remove: "//" | append: "/" }}{%- endcapture -%}
      {%- if include.current == current and second.navhide != 1 and second.title != '' -%}
      <li>
        <a href="{{ second.url }}">
          {%- if second.navtitle -%}{{ second.navtitle }}{%- else -%}{{ second.title }}{%- endif -%}
        </a>
        {%- include map/2.html current=second.url -%}
      </li>
      {%- endif -%}
    {%- if forloop.last -%}</ul>{%- endif -%}
  {%- endif -%}
{%- endfor -%}
