{%- assign fourlevel = site.pages | sort: "path" -%}

{% assign parts = include.current | split: '/' %}
{% assign depth = parts | size %}
{% assign depth = depth | plus:1 %}
{% assign isChildren = false %}
{% for i in secondlevel %}
  {% if i.url contains include.current and i.url != include.current %}
    {% assign isChildren = true %}
  {% endif %}
{% endfor %}

### {{isChildren}} ###

{%- for four in fourlevel -%}
  {%- if four -%}
    {%- if forloop.first -%}<ul>{%- endif -%}
      {%- capture slug -%}{{ four.url | split: "/" | last }}{%- endcapture -%}
      {%- capture current -%}{{ four.url | remove: slug | remove: "//" | append: "/" }}{%- endcapture -%}
      {%- if include.current == current and four.navhide != 1 and four.title != '' -%}
      <li>
        <a href="{{ four.url }}">
          {%- if four.navtitle -%}{{ four.navtitle }}{%- else -%}{{ four.title }}{%- endif -%}
        </a>
        {%- include map/3.html current=four.url -%}
      </li>
      {%- endif -%}
    {%- if forloop.last -%}</ul>{%- endif -%}
  {%- endif -%}
{%- endfor -%}
