{%- assign fourlevel = site.pages | sort: "path" -%}

{%- assign parts = include.current | split: '/' -%}
{%- assign depth = parts | size -%}
{%- assign depth = depth | plus:1 -%}
{%- assign isChildren = false -%}
{%- for four in secondlevel -%}
  {%- if four.url contains include.current and four.url != include.current -%}
    {%- assign isChildren = true -%}
  {%- endif -%}
{%- endfor -%}

{%- if isChildren == true -%}
<ul class="list-unstyled border-left border-primary mt-1 ml-1 pl-2">
  {%- for four in fourlevel -%}
    {%- capture slug -%}{{ four.url | split: "/" | last }}{%- endcapture -%}
    {%- capture current -%}{{ four.url | remove: slug | remove: "//" | append: "/" }}{%- endcapture -%}
    {%- if include.current == current and four.navhide != 1 and four.title != '' -%}
    <li class="mb-2">
      <a href="{{ four.url }}">
        {%- if four.navtitle -%}{{ four.navtitle }}{%- else -%}{{ four.title }}{%- endif -%}
      </a>
      {%- include map/3.html current=four.url -%}
    </li>
    {%- endif -%}
  {%- endfor -%}
</ul>
{%- endif -%}
