{%- assign fivelevel = site.pages | sort: "path" -%}
{%- for five in fivelevel -%}
  {%- if five -%}
    {%- if forloop.first -%}<ul>{%- endif -%}
      {%- capture slug -%}{{ five.url | split: "/" | last }}{%- endcapture -%}
      {%- capture current -%}{{ five.url | remove: slug | remove: "//" | append: "/" }}{%- endcapture -%}
      {%- if include.current == current and five.navhide != 1 and five.title != '' -%}
      <li>
        <a href="{{ five.url }}">
          {%- if five.navtitle -%}{{ five.navtitle }}{%- else -%}{{ five.title }}{%- endif -%}
        </a>
        {%- include map/4.html current=five.url -%}
      </li>
      {%- endif -%}
    {%- if forloop.last -%}</ul>{%- endif -%}
  {%- endif -%}
{%- endfor -%}
