{%- assign sixlevel = site.pages | sort: "path" -%}
{% for six in sixlevel %}
  {% if six.url contains include.current and six.url != include.current %}
    {% assign isChildren = true %}
  {% endif %}
{% endfor %}
### {{isChildren }} ###
{%- for six in sixlevel -%}
  {%- if six -%}
    {%- if forloop.first -%}<ul>{%- endif -%}
      {%- capture slug -%}{{ six.url | split: "/" | last }}{%- endcapture -%}
      {%- capture current -%}{{ six.url | remove: slug | remove: "//" | append: "/" }}{%- endcapture -%}
      {%- if include.current == current and six.navhide != 1 and six.title != '' -%}
      <li>
        <a href="{{ six.url }}">
          {%- if six.navtitle -%}{{ six.navtitle }}{%- else -%}{{ six.title }}{%- endif -%}
        </a>
      </li>
      {%- endif -%}
    {%- if forloop.last -%}</ul>{%- endif -%}
  {%- endif -%}
{%- endfor -%}
