<ul>
  {%- assign ones = site.pages  | sort: 'path' | reverse -%}
  {%- for one in ones -%}
    {%- capture slug -%}{{ one.url | split: "/" | last }}{%- endcapture -%}
    {%- capture current -%}{{ one.url | remove: slug | remove: "//" | append: "/" }}{%- endcapture -%}
    {%- if "/" == current -%}
      <li>
        <a href="{{ one.url }}">
          {%- if one.navtitle -%}{{ one.navtitle }}{%- else -%}{{ one.title }}{%- endif -%}
        </a>
        {%- include map/sublevel.html current=one.url -%}
      </li>


      {%- if one.url -%}
        {%- assign twos = site.pages -%}
        {%- for two in twos -%}
          {%- capture slug -%}{{ two.url | split: "/" | last }}{%- endcapture -%}
          {%- capture current -%}{{ two.url | remove: slug | remove: "//" | append: "/" }}{%- endcapture -%}
          {%- if one.url == current and two.url contains "city" or two.url contains "town" -%}
          <li>
            <a href="{{ two.url }}">
              {%- if two.navtitle -%}{{ two.navtitle }}{%- else -%}{{ two.title }}{%- endif -%}
            </a>
            {%- include map/sublevel.html current=two.url -%}

            {%- if two.url -%}
              {%- assign threes = site.pages -%}
              {%- for three in threes -%}
                {%- capture slug -%}{{ three.url | split: "/" | last }}{%- endcapture -%}
                {%- capture current -%}{{ three.url | remove: slug | remove: "//" | append: "/" }}{%- endcapture -%}
                {%- if tow.url == current and three.url contains "city" or three.url contains "town" -%}
                <li>
                  <a href="{{ three.url }}">
                    {%- if three.navtitle -%}{{ three.navtitle }}{%- else -%}{{ three.title }}{%- endif -%}
                  </a>
                  {%- include map/sublevel.html current=three.url -%}
                </li>
                {%- endif -%}
              {%- endfor -%}
            {%- endif -%}

          </li>
          {%- endif -%}
        {%- endfor -%}
      {%- endif -%}

    {%- endif -%}
  {%- endfor -%}
</ul>
