<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
  <a class="navbar-brand mr-0 mr-md-2" href="#" aria-label="B">
    {%- include icons/bootstrap.svg width="36" height="36" class="d-block" -%}
  </a>

  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link {% if page.layout == "home" %}active{% endif %}" href="#" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Bootstrap');">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if page.layout == "docs" %}active{% endif %}" href="#" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Docs');">Doc</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if page.title == "Examples" %}active{% endif %}" href="#" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Examples');">Examples</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Blog');" target="_blank" rel="noopener">Blog</a>
      </li>
    </ul>
  </div>

  <ul class="navbar-nav ml-md-auto">
    <li class="nav-item dropdown">
      <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Version
      </a>
      <div class="dropdown-menu dropdown-menu-md-right" aria-labelledby="bd-versions">
        <a class="dropdown-item active" href="#">Latest</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">3</a>
        <a class="dropdown-item" href="#">2</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">All versions</a>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link pl-2 pr-1 mx-1 py-3 my-n2" href="{{ site.github_org }}" target="_blank" rel="noopener" aria-label="GitHub">
        {%- include icons/github.svg class="navbar-nav-svg" -%}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link px-1 mx-1 py-3 my-n2" href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener" aria-label="Twitter">
        {%- include icons/twitter.svg class="navbar-nav-svg" -%}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link px-1 mx-1 py-3 my-n2" href="{{ site.slack }}/" target="_blank" rel="noopener" aria-label="Slack">
        {%- include icons/slack.svg class="navbar-nav-svg" -%}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link px-1 mx-1 py-3 my-n2" href="{{ site.opencollective }}/" target="_blank" rel="noopener" aria-label="Open Collective">
        {%- include icons/opencollective.svg class="navbar-nav-svg" -%}
      </a>
    </li>
  </ul>

</header>
