
<nav class="navbar navbar-expand-lg justify-content-between">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navGov" aria-controls="navGov" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navGov">
    <ul class="navbar-nav">

      {%- assign ones = site.pages -%}
      {%- for one in ones %}
        {%- capture slug -%}{{ one.url | split: "/" | last }}{%- endcapture -%}
        {%- capture current -%}{{ one.url | remove: slug | remove: "//" | append: "/" }}{%- endcapture -%}
        {%- if "/" == current -%}

        <li class="nav-item dropdown position-static">
          <a class="nav-link dropdown-toggle" href="{{ one.url }}" id="navDropGov" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ one.title }}</a>
          {% include header/dropdown.html current = "{{ one.url }}" %}
        </li>

          {%- if one.url -%}
            {%- assign twos = site.pages -%}
            {%- for two in twos %}
              {%- capture slug -%}{{ two.url | split: "/" | last }}{%- endcapture -%}
              {%- capture current -%}{{ two.url | remove: slug | remove: "//" | append: "/" }}{%- endcapture -%}
              {%- if one.url == current and two.url contains "city" or two.url contains "town" -%}

              <li class="nav-item dropdown position-static">
                <a class="nav-link dropdown-toggle" href="{{ two.url }}" id="navDropGov" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ two.title }}</a>
                {% include header/dropdown.html current = "{{ two.url }}" %}
              </li>

              {%- endif -%}
            {%- endfor -%}
          {%- endif -%}

        {%- endif -%}
      {%- endfor -%}

    </ul>
  </div>

</nav>
