<nav class="navbar navbar-expand-lg justify-content-between">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navGov" aria-controls="navGov" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navGov">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link active" href="#">Обласна рада</a>
      </li>

      <li class="nav-item dropdown position-static">
        <a class="nav-link dropdown-toggle" href="#" id="navDroзGov" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Міста обласного значення</a>
        <div class="dropdown-menu mt-n2 w-100 border-outline-success" aria-labelledby="navDroзGov">
          <div class="container">
            <div class="row w-100">
              <div class="col-md-4">
                <ul class="list-unstyled pl-0">
                  <li><a class="dropdown-item active" href="#">Mісто Один</a></li>
                  <li><a class="dropdown-item" href="#">Mісто Два</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul class="list-unstyled pl-0">
                  <li><a class="dropdown-item" href="#">Mісто Три</a></li>
                  <li><a class="dropdown-item" href="#">Mісто Чотири</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul class="list-unstyled pl-0">
                  <li><a class="dropdown-item" href="#">Mісто П'ять</a></li>
                  <li><a class="dropdown-item" href="#">Mісто Шість</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="nav-item dropdown position-static">
        <a class="nav-link dropdown-toggle" href="/district/" id="navDroзGov" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Районні ради</a>
        <div class="dropdown-menu mt-n2 w-100 border-outline-success" aria-labelledby="navDroзGov">
          <div class="container">

            <div class="row w-100">
              {% assign secondlevel = site.pages | sort: "path" %}
              {% for second in secondlevel %}
                {% capture slug %}{{ second.url | split: "/" | last }}{% endcapture %}
                {% capture current %}{{ second.url | remove: slug | remove: "//" | append: "/" }}{% endcapture %}
                {% assign wrap = forloop.index | modulo:5 %}
                {% if '/district/' == current %}
                  {% if forloop.first == true adn forloop.index == 1 %}
                  <div class="col-md-4">
                    <ul class="list-unstyled pl-0">
                  {% endif %}

                    <li>
                      <a href="{{ second.url }}" class="dropdown-item{% if page.url == second.url %} active{% endif %}" href="{{ second.url }}">{{ second.title }} - {{wrap}}</a>
                    </li>

                  {% if wrap == 5 %}
                    </ul>
                  </div>
                  <div class="col-md-4">
                    <ul class="list-unstyled pl-0">
                  {% endif %}

                  {% if forloop.last == true %}
                    </ul>
                  </div>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </div>

            {% comment %}
            {% assign pages = site.pages | sort: 'order' %}
            {% assign parts = "/district/" | split: '/' %}
            {% assign depth = parts | size %}
            {% assign depth = depth | plus:1 %}

            {% assign has_children = false %}
            {% for node in pages %}
              {% if node.url contains page.url and node.url != page.url %}
                {% assign has_children = true %}
              {% endif %}
            {% endfor %}

            {% if has_children == true %}
              <div class="row w-100">
                <div class="col-md-4">
                  <ul class="list-unstyled pl-0">
                    {% for node in pages %}
                      {% if node.url contains page.url %}
                        {% assign node_parts = node.url | split: '/' %}
                        {% assign node_depth = node_parts | size %}
                        {% if node_depth == depth %}
                          <li>
                            <a href="{{ node.url }}" class="dropdown-item">{{ node.title }}</a>
                          </li>
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div>
              </div>
            {% endif %}

            <div class="row w-100">
              <div class="col-md-4">
                <ul class="list-unstyled pl-0">
                  <li><a class="dropdown-item active" href="#">Mісто Один</a></li>
                  <li><a class="dropdown-item" href="#">Mісто Два</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul class="list-unstyled pl-0">
                  <li><a class="dropdown-item" href="#">Mісто Три</a></li>
                  <li><a class="dropdown-item" href="#">Mісто Чотири</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul class="list-unstyled pl-0">
                  <li><a class="dropdown-item" href="#">Mісто П'ять</a></li>
                  <li><a class="dropdown-item" href="#">Mісто Шість</a></li>
                </ul>
              </div>
            </div>
            {% endcomment %}
          </div>
        </div>
      </li>

      <li class="nav-item dropdown position-static">
        <a class="nav-link dropdown-toggle" href="#" id="navDroзGov" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Міста районного значення</a>
        <div class="dropdown-menu mt-n2 w-100 border-outline-success" aria-labelledby="navDroзGov">
          <div class="container">
            <div class="row w-100">
              <div class="col-md-4">
                <ul class="list-unstyled pl-0">
                  <li><a class="dropdown-item active" href="#">Mісто Один</a></li>
                  <li><a class="dropdown-item" href="#">Mісто Два</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul class="list-unstyled pl-0">
                  <li><a class="dropdown-item" href="#">Mісто Три</a></li>
                  <li><a class="dropdown-item" href="#">Mісто Чотири</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul class="list-unstyled pl-0">
                  <li><a class="dropdown-item" href="#">Mісто П'ять</a></li>
                  <li><a class="dropdown-item" href="#">Mісто Шість</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>

    </ul>
  </div>

</nav>
