---
layout: default
---
{%- if page.url contains "city" or page.url contains "town" -%}{%- assign isCityTown = true -%}{%- else -%}{%- assign isCityTown = false -%}{%- endif -%}
{%- if page.url contains "village" -%}{%- assign isVillage = true -%}{%- else -%}{%- assign isVillage = false -%}{%- endif -%}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="mb-4">{{ page.title }}</h1>
      {%- include nav-section.html -%}
      {{content}}
      {% include decisions-list.html cat=page.pagination.category %}
    </div>
  </div>
</div>
