---
---
{%- if page.url contains "city" or page.url contains "town" -%}{%- assign isCityTown = true -%}{%- else -%}{%- assign isCityTown = false -%}{%- endif -%}
{%- if page.url contains "village" -%}{%- assign isVillage = true -%}{%- else -%}{%- assign isVillage = false -%}{%- endif -%}
<!doctype html>
<html dir="ltr" lang="uk-UA">
  <head>
    {%- include head.html -%}
  </head>
  <body>
    <div id="top"></div>
    {%- include header.html -%}
    {%- include breadcrumb.html -%}
    <main id="content"{% if page.url == "/" %} class="my-4"{% else %} class="mb-4"{% endif %}>
      {%- assign isContent = content | strip_newlines -%}
      {%- if isContent == "" -%}
        {%- include info-visitors.html -%}
      {%- else -%}
        {{ content }}
      {%- endif -%}
    </main>
    {%- include footer.html -%}
    {%- include scroll-top.html -%}
    {%- include scripts.html -%}
  </body>
</html>
