---
---
{%- if page.url contains "city" or page.url contains "town" -%}{%- assign isCityTown = true -%}{%- else -%}{%- assign isCityTown = false -%}{%- endif -%}
<!doctype html>
<html dir="ltr" lang="uk-UA">
  <head>
    {%- include head.html -%}
  </head>
  <body>
    {%- include header.html -%}
    {% include breadcrumbs.html omit_home=true omit_date=true %}
    {%- include breadcrumb.html -%}
    <main id="content"{% if page.url == "/" %} class="my-4"{% else %} class="mb-4"{% endif %} role="main">
      {{ content isCityTown=isCityTown}}
    </main>
    {%- include footer.html -%}
    {%- include scripts.html -%}
  </body>
</html>
