---
---
{%- if page.url contains "city" or page.url contains "town" -%}{%- assign isCityTown = true -%}{%- else -%}{%- assign isCityTown = false -%}{%- endif -%}
{%- assign url = page.url | split: "/" -%}
{%- assign size = url | size | minus: 1 -%}
{%- assign dir = url | slice: 0, size | join: "/" -%}
<!doctype html>
<html dir="ltr" lang="uk-UA">
  <head>
    {%- include head.html -%}
  </head>
  <body>
    <div id="top"></div>
    {%- include header.html -%}
    {%- include breadcrumb.html -%}
    <main id="content"{% if page.url == "/" %} class="my-4"{% else %} class="mb-4"{% endif %} role="main">
      {{ content isCityTown=isCityTown}}
    </main>
    {%- include footer.html -%}
    {%- include scroll-top.html -%}
    {%- include scripts.html -%}
  </body>
</html>
