---
layout: default
---
{%- assign pages = site.pages | sort: 'dir' -%}
{%- if page.url contains "city" or page.url contains "town" -%}{%- assign isCityTown = true -%}{%- else -%}{%- assign isCityTown = false -%}{%- endif -%}
{%- if page.url contains "village" -%}{%- assign isVillage = true -%}{%- else -%}{%- assign isVillage = false -%}{%- endif -%}
{%- assign title = page.council.title -%}
{%- assign size = title | size | minus: 1 -%}
{%- assign cat = page.dir | split: '/' | last -%}
{%- assign type = page.title | split: ' ' | first | downcase -%}
{%- include has-news.html cat=cat -%}
{%- include has-decisions.html cat=cat -%}
{%- assign phoner = cat | append: "-rada-tel" -%}
{%- assign phoners = site.data[phoner] -%}
<div class="container">
  <div class="row">
    <div class="col-12 px-md-4">
      <h1>{{ page.title }}</h1>
      <p class="lead">{{ page.teaser }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 px-md-4">
      <nav role='navigation' class="transformer-tabs" aria-label="Navigation {{ cat }}">
        <ul class="nav nav-tabs" id="districtTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="district-tab" data-toggle="tab" href="#district" role="tab" aria-controls="district" aria-selected="true">
              {{ site.data.labels.about | capitalize }}&nbsp;
              {%- if isCityTown == true and isVillage == true -%}
                {{ type }}
              {%- elsif isVillage == true -%}
                {{ type }}
              {%- elsif isCityTown == true and isVillage == false -%}
                {{ site.data.labels.city }}
              {%- elsif page.url contains "region" and isCityTown == false and isVillage == false -%}
                {{ site.data.labels.oblast }}
              {%- else -%}
                {{ site.data.labels.district }}
              {%- endif -%}
            </a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="rada-tab" data-toggle="tab" href="#rada" role="tab" aria-controls="rada" aria-selected="false">
              {% if isCityTown == true and isVillage == true %}
                {% if type == site.data.labels.selishche %}{{ site.data.labels.selishchna | capitalize }}{% else %}{{ site.data.labels.silska | capitalize }}{% endif %}
              {% elsif isVillage == true %}
                {% if type == site.data.labels.selishche %}{{ site.data.labels.selishchna | capitalize }}{% else %}{{ site.data.labels.silska | capitalize }}{% endif %}
              {% elsif isCityTown == true %}
                {{ site.data.labels.miska | capitalize }}
              {%- elsif page.url contains "region" and isCityTown == false and isVillage == false -%}
                {{ site.data.labels.oblasna | capitalize }}
              {% else %}
                {{ site.data.labels.rayonna | capitalize }}
              {% endif %} {{ site.data.labels.rada }}
            </a>
          </li>
          {%- include has-children.html where="village/" -%}
          {%- if hasChildren == true -%}
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="division-tab" data-toggle="tab" href="#division" role="tab" aria-controls="division" aria-selected="false">
              {% if isCityTown == true and isVillage == true %}
                {% if type == site.data.labels.selishche %}{{ site.data.labels.selishchnyy | capitalize }}{% else %}{{ site.data.labels.silskyy | capitalize }}{% endif %}
              {% elsif isVillage == true %}
                {% if type == site.data.labels.selishche %}{{ site.data.labels.selishchnyy | capitalize }}{% else %}{{ site.data.labels.silskyy | capitalize }}{% endif %}
              {% elsif isCityTown == true %}
                {{ site.data.labels.miskyy | capitalize }}
              {%- elsif page.url contains "region" and isCityTown == false and isVillage == false -%}
                {{ site.data.labels.oblasnyy | capitalize }}
              {% else %}
                {{ site.data.labels.rayonnyy | capitalize }}
              {% endif %} {{ site.data.labels.ustriy }}
            </a>
          </li>
          {%- endif -%}
        </ul>
      </nav>
      <div class="tab-content" id="districtContent">
        <div class="tab-pane pt-3 fade show active" id="district" role="tabpanel" aria-labelledby="district-tab">{{content}}</div>
        <div class="tab-pane pt-3 fade" id="rada" role="tabpanel" aria-labelledby="rada-tab">
          <div class="card border-0 mb-3">
            <div class="row no-gutters">
              <div class="col-md-4">
                {%- capture folder -%}{{ page.dir }}images/rada{%- endcapture -%}
                {%- include image-slider.html folder=folder group="rada" width="365" height="250" -%}
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h2 class="card-title">
                    {{ page.council.title }}
                    {% if isCityTown == true and isVillage == true %}
                      {% if type == site.data.labels.selishche %}{{ site.data.labels.selishchna }}{% else %}{{ site.data.labels.silska }}{% endif %}
                    {% elsif isVillage == true %}
                      {% if type == site.data.labels.selishche %}{{ site.data.labels.selishchna }}{% else %}{{ site.data.labels.silska }}{% endif %}
                    {% elsif isCityTown == true %}
                      {{ site.data.labels.miska }}
                    {%- elsif page.url contains "region" and isCityTown == false and isVillage == false -%}
                      {{ site.data.labels.oblasna }}
                    {% else %}
                      {{ site.data.labels.rayonna }}
                    {% endif %} {{ site.data.labels.rada }}
                  </h2>
                  <p class="card-text">{{ page.council.description }}</p>
                </div>
              </div>
            </div>
          </div>
          {%- include has-children.html where="deputies/" -%}
          {%- if hasNews == true or hasDecisions == true or hasChildren == true -%}
          <ul class="nav nav-tabs" id="radaTab" role="tablist">
            {%- if hasNews == true -%}
            <li class="nav-item" role="presentation">
              <a class="nav-link active" id="news-tab" data-toggle="tab" href="#news" role="tab" aria-controls="news" aria-selected="true">{{ site.data.labels.news | capitalize }}</a>
            </li>
            {%- endif -%}
            {%- if hasDecisions == true -%}
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="decisions-tab" data-toggle="tab" href="#decisions" role="tab" aria-controls="decisions" aria-selected="false">{{ site.data.labels.decisions | capitalize }}</a>
            </li>
            {%- endif -%}
            {%- if hasChildren == true -%}
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="deputies-tab" data-toggle="tab" href="#deputies" role="tab" aria-controls="deputies" aria-selected="false">{{ site.data.labels.deputies | capitalize }}</a>
            </li>
            {%- endif -%}
            {%- if phoners -%}
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="phoners-tab" data-toggle="tab" href="#phoners" role="tab" aria-controls="phoners" aria-selected="false">{{ site.data.labels.phones }}</a>
            </li>
            {%- endif -%}
          </ul>
          <div class="tab-content" id="radaContent">
            {%- if hasNews == true -%}
            <div class="tab-pane py-3 fade show active" id="news" role="tabpanel" aria-labelledby="news-tab">
              <h3 class="mt-2 mb-4">{{ site.data.labels.news | capitalize }} {{ title | slice: 0, size }}{{ site.data.labels.oyi }}
                {% if isCityTown == true and isVillage == true %}
                  {% if type == site.data.labels.selishche %}{{ site.data.labels.selyshchnoyi }}{% else %}{{ site.data.labels.silskoyi }}{% endif %}
                {% elsif isVillage == true %}
                  {% if type == site.data.labels.selishche %}{{ site.data.labels.selyshchnoyi }}{% else %}{{ site.data.labels.silskoyi }}{% endif %}
                {% elsif isCityTown == true %}
                  {{ site.data.labels.miskoyi }}
                {%- elsif page.url contains "region" and isCityTown == false and isVillage == false -%}
                  {{ site.data.labels.oblasnoyi }}
                {% else %}
                  {{ site.data.labels.rayonnoyi }}
                {% endif %}
                {{ site.data.labels.rady }}
              </h3>
              {% include news-last.html cat=cat num="6" %}
            </div>
            {%- endif -%}
            {%- if hasDecisions == true -%}
            <div class="tab-pane py-3 fade" id="decisions" role="tabpanel" aria-labelledby="decisions-tab">
              <h3 class="mt-2 mb-4">{{ site.data.labels.decisions | capitalize }} {{ title | slice: 0, size }}{{ site.data.labels.oyi }}
                {% if isCityTown == true and isVillage == true %}
                  {% if type == site.data.labels.selishche %}{{ site.data.labels.selyshchnoyi }}{% else %}{{ site.data.labels.silskoyi }}{% endif %}
                {% elsif isVillage == true %}
                  {% if type == site.data.labels.selishche %}{{ site.data.labels.selyshchnoyi }}{% else %}{{ site.data.labels.silskoyi }}{% endif %}
                {% elsif isCityTown == true %}
                  {{ site.data.labels.miskoyi }}
                {%- elsif page.url contains "region" and isCityTown == false and isVillage == false -%}
                  {{ site.data.labels.oblasnoyi }}
                {% else %}
                  {{ site.data.labels.rayonnoyi }}
                {% endif %}
                {{ site.data.labels.rady }}
              </h3>
              {% include decisions-last.html cat=cat num="6" %}
            </div>
            {%- endif -%}
            {%- if hasChildren == true -%}
            <div class="tab-pane py-3 fade" id="deputies" role="tabpanel" aria-labelledby="deputies-tab">
              <h3 class="mt-2 mb-4">{{ site.data.labels.deputies | capitalize }} {{ title | slice: 0, size }}{{ site.data.labels.oyi }}
                {% if isCityTown == true and isVillage == true %}
                  {% if type == site.data.labels.selishche %}{{ site.data.labels.selyshchnoyi }}{% else %}{{ site.data.labels.silskoyi }}{% endif %}
                {% elsif isVillage == true %}
                  {% if type == site.data.labels.selishche %}{{ site.data.labels.selyshchnoyi }}{% else %}{{ site.data.labels.silskoyi }}{% endif %}
                {% else isCityTown == true %}
                  {{ site.data.labels.miskoyi }}
                {%- elsif page.url contains "region" and isCityTown == false and isVillage == false -%}
                  {{ site.data.labels.oblasnoyi }}
                {% else %}
                  {{ site.data.labels.rayonnoyi }}
                {% endif %}
                {{ site.data.labels.rady }} {{ site.data.labels.deputies_all_1 }}
              </h3>
              {%- assign dir = page.dir | append: 'deputies' | append: '/' -%}
              {%- include current-subpages.html dir=dir page="district" -%}
            </div>
            {%- endif -%}
            {%- if phoners -%}
            <div class="tab-pane pt-3 fade" id="phoners" role="tabpanel" aria-labelledby="phoners-tab">
              <h3 class="mt-2 mb-4">{{ site.data.labels.phones_09 }}</h3>
              {%- include 09-rada.html dir=page.dir -%}
            </div>
            {%- endif -%}
          </div>
          {%- endif -%}
        </div>
        {%- include has-children.html where="village/" -%}
        {%- if hasChildren == true -%}
        <div class="tab-pane pt-3 fade" id="division" role="tabpanel" aria-labelledby="division-tab">
          <h3 class="mt-2 mb-4">
            {{ site.data.labels.subordinate | capitalize }}
            {% if isCityTown == true and isVillage == true %}
              {% if type == site.data.labels.selishche %}
                {{ site.data.labels.selyshcha }} {{ site.data.labels.ta }} {{ site.data.labels.selyshchnoyi }}
              {% else %}
                {{ site.data.labels.sela }} {{ site.data.labels.ta }} {{ site.data.labels.silskoyi }}
              {% endif %}
            {% elsif isVillage == true %}
              {% if type == site.data.labels.selishche %}
                {{ site.data.labels.selyshcha }} {{ site.data.labels.ta }} {{ site.data.labels.selyshchnoyi }}
              {% else %}
                {{ site.data.labels.sela }} {{ site.data.labels.ta }} {{ site.data.labels.silskoyi }}
              {% endif %}
            {% elsif isCityTown == true %}
              {{ site.data.labels.mista }} {{ site.data.labels.ta }} {{ site.data.labels.miskoyi }}
            {%- elsif page.url contains "region" and isCityTown == false and isVillage == false -%}
              {{ site.data.labels.oblasti }} {{ site.data.labels.ta }} {{ site.data.labels.oblasnoyi }}
            {% else %}
              {{ site.data.labels.rayonu }} {{ site.data.labels.ta }} {{ site.data.labels.rayonnoyi }}
            {% endif %}
            {{ site.data.labels.rady }}
          </h3>
          {%- assign dir = page.dir | append: 'village' | append: '/' -%}
          {%- include current-subpages.html dir=dir page="village" -%}
        </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>
