---
layout: default
---
{%- if page.url contains "city" or page.url contains "town" -%}{%- assign isCityTown = true -%}{%- else -%}{%- assign isCityTown = false -%}{%- endif -%}
{%- assign title = page.council.title -%}
{%- assign size = title | size | minus: 1 -%}
{%- assign cat = page.dir | split: '/' | last -%}
<div class="container">
  <div class="row">
    <div class="col-12">



          <div class="responsive-tabs">

            <ul class="nav nav-tabs" id="tabs-title-region-nav-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" role="tab" href="#block-simple-text-1" aria-selected="false" aria-controls="block-simple-text-1" id="block-simple-text-1-tab">First tab</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" role="tab" href="#block-simple-text-2" aria-selected="false" aria-controls="block-simple-text-2" id="block-simple-text-2-tab">How do we use it?</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" role="tab" href="#block-simple-text-3" aria-selected="false" aria-controls="block-simple-text-3" id="block-simple-text-3-tab">Where does it come from?</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" role="tab" href="#block-simple-text-4" aria-selected="false" aria-controls="block-simple-text-4" id="block-simple-text-4-tab">Where can I get some?</a>
              </li>
            </ul>

            <div class="tab-content">

              <div id="block-simple-text-1" class="tab-pane active block block-layout-builder block-inline-blockqfcc-blocktype-simple-text" role="tabpanel" aria-labelledby="block-simple-text-1-tab">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
              </div>
              <div id="block-simple-text-2" class="tab-pane active block block-layout-builder block-inline-blockqfcc-blocktype-simple-text" role="tabpanel" aria-labelledby="block-simple-text-2-tab">
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
              </div>
              <div id="block-simple-text-3" class="tab-pane active block block-layout-builder block-inline-blockqfcc-blocktype-simple-text" role="tabpanel" aria-labelledby="block-simple-text-3-tab">
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
              </div>
              <div id="block-simple-text-4" class="tab-pane active block block-layout-builder block-inline-blockqfcc-blocktype-simple-text" role="tabpanel" aria-labelledby="block-simple-text-4-tab">
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
              </div>

            </div>

          </div>




    </div>
  </div>
  <div class="row">
    <div class="col-12 px-md-4">
      <h1>{{page.title}}</h1>
      <p class="lead">{{page.teaser}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 px-md-4 responsive-tabs">
      <ul class="nav nav-tabs" id="districtTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="district-tab" data-toggle="tab" href="#district" role="tab" aria-controls="district" aria-selected="true">
            Про&nbsp;{%- if isCityTown == true -%}місто{%- else -%}райо́н{%- endif -%}
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="rada-tab" data-toggle="tab" href="#rada" role="tab" aria-controls="rada" aria-selected="false">
            {% if isCityTown == true %}Міська{% else %}Райо́нна{% endif %} рада
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="division-tab" data-toggle="tab" href="#division" role="tab" aria-controls="division" aria-selected="false">
            {% if isCityTown == true %}Міський{% else %}Райо́нний{% endif %} устрій
          </a>
        </li>
      </ul>
      <div class="tab-content" id="districtContent">
        <div class="tab-pane pt-3 fade show active" id="district" role="tabpanel" aria-labelledby="district-tab">
          {{content}}
        </div>
        <div class="tab-pane pt-3 fade" id="rada" role="tabpanel" aria-labelledby="rada-tab">
          <div class="card border-0 mb-3">
            <div class="row no-gutters">
              <div class="col-md-4">
                <svg class="bd-placeholder-img" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text></svg>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h2 class="card-title">{% if isCityTown == true %}{{ page.council.title }} міська рада{% else %}{{ page.council.title }} райо́нна рада{% endif %}</h2>
                  <p class="card-text">{{ page.council.description }}</p>
                </div>
              </div>
            </div>
          </div>
          <ul class="nav nav-tabs" id="radaTab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" id="news-tab" data-toggle="tab" href="#news" role="tab" aria-controls="news" aria-selected="true">Новини</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="decisions-tab" data-toggle="tab" href="#decisions" role="tab" aria-controls="decisions" aria-selected="false">Рішення</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="deputies-tab" data-toggle="tab" href="#deputies" role="tab" aria-controls="deputies" aria-selected="false">Депутати</a>
            </li>
          </ul>
          <div class="tab-content" id="radaContent">
            <div class="tab-pane py-3 fade show active" id="news" role="tabpanel" aria-labelledby="news-tab">
              <h3 class="mt-2 mb-4">Новини {{ title | slice: 0, size }}ої{% if isCityTown == true %} міської {% else %} райо́нної {% endif %}ради</h3>
              {% include news-last.html cat=cat num="6" %}
            </div>
            <div class="tab-pane py-3 fade" id="decisions" role="tabpanel" aria-labelledby="decisions-tab">
              <h3 class="mt-2 mb-4">Рішення {{ title | slice: 0, size }}ої{% if isCityTown == true %} міської {% else %} райо́нної {% endif %}ради</h3>
              {% include decisions-last.html cat=cat num="6" %}
            </div>
            <div class="tab-pane py-3 fade" id="deputies" role="tabpanel" aria-labelledby="deputies-tab">
              <h3 class="mt-2 mb-4">Депутити {{ title | slice: 0, size }}ої{% if isCityTown == true %} міської {% else %} райо́нної {% endif %}ради всіх скликань</h3>
              {%- assign dir = page.dir | append: 'deputies' | append: '/' -%}
              {%- include current-subpages.html dir=dir -%}
            </div>
          </div>
        </div>
        <div class="tab-pane pt-3 fade" id="division" role="tabpanel" aria-labelledby="division-tab">
          <h3 class="my-2">...</h3>
        </div>
      </div>
    </div>
  </div>
</div>
