---
layout: default
---
{%- if page.url contains "city" or page.url contains "town" -%}{%- assign isCityTown = true -%}{%- else -%}{%- assign isCityTown = false -%}{%- endif -%}
{%- assign title = page.council.title -%}
{%- assign size = title | size | minus: 1 -%}
{%- assign cat = page.dir | split: '/' | last -%}
<div class="container">
  <div class="row">
    <div class="col-12 px-md-4">
      <h1>{{page.title}}</h1>
      <p class="lead">{{page.teaser}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 px-md-4">
      <nav role='navigation' class="transformer-tabs">
        <ul class="nav nav-tabs" id="districtTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="district-tab" data-toggle="tab" href="#district" role="tab" aria-controls="district" aria-selected="true">
              {{ site.data.labels.about | capitalize }}&nbsp;
                {%- if isCityTown == true -%}
                  {{ site.data.labels.city }}
                {%- elsif isVillage == true -%}
                  село
                {%- else -%}
                  {{ site.data.labels.district }}
                {%- endif -%}
            </a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="rada-tab" data-toggle="tab" href="#rada" role="tab" aria-controls="rada" aria-selected="false">
              {% if isCityTown == true %}{{ site.data.labels.miska | capitalize }}{% else %}{{ site.data.labels.rayonna | capitalize }}{% endif %} {{ site.data.labels.rada }}
            </a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="division-tab" data-toggle="tab" href="#division" role="tab" aria-controls="division" aria-selected="false">
              {% if isCityTown == true %}{{ site.data.labels.miskyy | capitalize }}{% else %}{{ site.data.labels.rayonnyy | capitalize }}{% endif %} {{ site.data.labels.ustriy }}
            </a>
          </li>
        </ul>
      </nav>
      <div class="tab-content" id="districtContent">
        <div class="tab-pane pt-3 fade show active" id="district" role="tabpanel" aria-labelledby="district-tab">{{content}}</div>
        <div class="tab-pane pt-3 fade" id="rada" role="tabpanel" aria-labelledby="rada-tab">
          <div class="card border-0 mb-3">
            <div class="row no-gutters">
              <div class="col-md-4">
                <svg class="bd-placeholder-img" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text></svg>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h2 class="card-title">{% if isCityTown == true %}{{ page.council.title }} {{ site.data.labels.miska }} {{ site.data.labels.rada }}{% else %}{{ page.council.title }} {{ site.data.labels.rayonna }} {{ site.data.labels.rada }}{% endif %}</h2>
                  <p class="card-text">{{ page.council.description }}</p>
                </div>
              </div>
            </div>
          </div>
          <ul class="nav nav-tabs" id="radaTab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" id="news-tab" data-toggle="tab" href="#news" role="tab" aria-controls="news" aria-selected="true">{{ site.data.labels.news | capitalize }}</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="decisions-tab" data-toggle="tab" href="#decisions" role="tab" aria-controls="decisions" aria-selected="false">{{ site.data.labels.decisions | capitalize }}</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="deputies-tab" data-toggle="tab" href="#deputies" role="tab" aria-controls="deputies" aria-selected="false">{{ site.data.labels.deputies | capitalize }}</a>
            </li>
          </ul>
          <div class="tab-content" id="radaContent">
            <div class="tab-pane py-3 fade show active" id="news" role="tabpanel" aria-labelledby="news-tab">
              <h3 class="mt-2 mb-4">{{ site.data.labels.news | capitalize }} {{ title | slice: 0, size }}{{ site.data.labels.oyi }}{% if isCityTown == true %} {{ site.data.labels.miskoyi }} {% else %} {{ site.data.labels.rayónnoyi }} {% endif %}{{ site.data.labels.rady }}</h3>
              {% include news-last.html cat=cat num="6" %}
            </div>
            <div class="tab-pane py-3 fade" id="decisions" role="tabpanel" aria-labelledby="decisions-tab">
              <h3 class="mt-2 mb-4">{{ site.data.labels.decisions | capitalize }} {{ title | slice: 0, size }}{{ site.data.labels.oyi }}{% if isCityTown == true %} {{ site.data.labels.miskoyi }} {% else %} {{ site.data.labels.rayónnoyi }} {% endif %}{{ site.data.labels.rady }}</h3>
              {% include decisions-last.html cat=cat num="6" %}
            </div>
            <div class="tab-pane py-3 fade" id="deputies" role="tabpanel" aria-labelledby="deputies-tab">
              <h3 class="mt-2 mb-4">{{ site.data.labels.deputies | capitalize }} {{ title | slice: 0, size }}{{ site.data.labels.oyi }}{% if isCityTown == true %} {{ site.data.labels.miskoyi }} {% else %} {{ site.data.labels.rayónnoyi }} {% endif %}{{ site.data.labels.rady }} {{ site.data.labels.deputies_all_1 }}</h3>
              {%- assign dir = page.dir | append: 'deputies' | append: '/' -%}
              {%- include current-subpages.html dir=dir page="district" -%}
            </div>
          </div>
        </div>
        <div class="tab-pane pt-3 fade" id="division" role="tabpanel" aria-labelledby="division-tab">
          <h3 class="mt-2 mb-4">{{ site.data.labels.villages_and | capitalize }} {{ site.data.labels.rayonu }}</h3>
          {%- assign dir = page.dir | append: 'village' | append: '/' -%}
          {%- include current-subpages.html dir=dir page="village" -%}
        </div>
      </div>
    </div>
  </div>
</div>
