---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="mb-4">{{ page.title }}</h1>
      {{content}}

<hr>
### {{page.url}} ###<br>
### {{page.dir}} ###<br>
### {{page.post_url}} ###
<hr>

{% assign back = page.url | split: "/" %}
{% assign size = back | size | minus: 2 %}
{{ back | slice: 0, size }} = back/2

<hr>

{% assign back1 = page.url %}
{% assign size1 = back1 | size | minus: 2 %}
{{ back1 | slice: 0, size1 }} = back1/2

<hr>

{% assign back = page.url | split: "/" %}
{% assign size = back | size | minus: 4 %}
### {{ size | slice: 0, size }} ### = size/4
<br>
### {{ back | slice: 0, size }} ### = back/4
<br>


    </div>
  </div>
</div>
