{%- if isVillage == false -%}
{%- assign decisions = '' | split:'' -%}{%- for i in site.categories[include.cat] -%}{%- unless i.url contains "village" or i.url contains "news" -%}{%- assign decisions = decisions | push:i -%}{%- endunless -%}{%- endfor -%}
{%- else -%}
{%- assign decisions = '' | split:'' -%}{%- for i in site.categories[include.cat] -%}{%- unless i.url contains "news" -%}{%- assign decisions = decisions | push:i -%}{%- endunless -%}{%- endfor -%}
{%- endif -%}
{%- for decision in decisions limit:include.num -%}
  {%- if forloop.first -%}
  <div class="row row-cols-1">
  {%- endif -%}
    <div class="col">
      <div class="card h-100 border-0">
        <div class="card-body px-0 pt-0">
          <p class="card-text mb-1"><span class="small text-muted">{%- include date.html date=decision.date -%}</span></p>
          <h5 class="card-title mb-1"><a href="{{ decision.url }}">{{ decision.title }}</a></h5>
          <p class="card-text">{{ decision.excerpt | strip_html | truncate: 110 }}</p>
        </div>
      </div>
    </div>
  {%- if forloop.last -%}
  </div>
  <div class="row">
    <div class="col-auto ml-auto">
      <a href="{{include.url}}decisions/" class="btn btn-primary">{{ site.data.labels.decisions_all }}</a>
    </div>
  </div>
  {%- endif -%}
{%- else -%}
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="alert alert-info" role="alert">{{ site.data.labels.decisions_list_empty }}</div>
    </div>
  </div>
{%- endfor -%}
