{%- for category in site.categories -%}
  {%- if category.first == include.section -%}
    {%- for item in category.last limit:include.limit -%}
      {%- if forloop.first -%}
      <div class="row row-cols-1">
      {%- endif -%}
        <div class="col">
          <div class="card h-100 border-0">
            <div class="card-body px-0 pt-0 pb-1">
              <p class="card-text mb-1"><span class="small text-muted">{%- include date.html date=item.date -%}</span></p>
              <h5 class="card-title mb-1"><a href="{{ item.url }}">{{ item.title }}</a></h5>
              <p class="card-text mb-0">{{ item.excerpt | strip_html | truncate: 110 }}</p>
              <p class="card-text text-right">
                <span class="small text-muted">
                  {%- assign url = item.url | split: "/" -%}
                  {%- assign size = url | size | minus: 4 -%}
                  {%- assign dir = url | slice: 0, size | join: "/" -%}
                  {%- for page in site.pages -%}
                    {%- if page.url contains dir -%}
                      {{ page.title }}
                    {%- endif -%}
                  {%- endfor -%}
                </span>
              </p>
            </div>
          </div>
        </div>
      {%- if forloop.last -%}
      </div>
      {%- endif -%}
    {%- else -%}
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="alert alert-info" role="alert">
            {%- if include.section == "news" -%}
              {{ site.data.labels.news_list_empty }}
            {%- elsif include.section == "decisions" -%}
              {{ site.data.labels.decisions_list_empty }}
            {%- else -%}
            {%- endif -%}
          </div>
        </div>
      </div>
    {%- endfor -%}
  {%- endif -%}
{%- endfor -%}
