{%- assign secondlevel = site.pages | sort: "path" -%}

{%- assign parts = include.current | split: '/' -%}
{%- assign depth = parts | size -%}
{%- assign depth = depth | plus:1 -%}
{%- assign isChildren = false -%}
{%- for second in secondlevel -%}
  {%- if second.url contains include.current and second.url != include.current -%}
    {%- assign isChildren = true -%}
  {%- endif -%}
{%- endfor -%}

{%- if isChildren == true -%}
<div class="row row-cols-1 row-cols-md-2">
  {%- for second in secondlevel -%}
    {%- capture slug -%}{{ second.url | split: "/" | last }}{%- endcapture -%}
    {%- capture current -%}{{ second.url | remove: slug | remove: "//" | append: "/" }}{%- endcapture -%}
    {%- if include.current == current and second.navhide != 1 and second.title != '' -%}
    <div class="col mb-4">
      <div class="card">
        {%- capture image -%}assets/images/district-{{slug}}.jpg{%- endcapture -%}
        {%- if image -%}
        <img src="{{ image }}" class="card-img-top" alt="District {{slug}}">
        {%- endif -%}
        <div class="card-body">
          <h5 class="card-title">
            <a href="{{ second.url }}">{%- if second.navtitle -%}{{ second.navtitle }}{%- else -%}{{ second.title }}{%- endif -%}</a>
          </h5>
          <div class="card-text">
            {% include home/card.html region=slug url=second.url %}
          </div>
        </div>
      </div>
    </div>
    {%- endif -%}
  {%- endfor -%}
</div>
{%- endif -%}
