{%- assign secondlevel = site.pages | sort: "path" -%}

{%- assign parts = include.current | split: '/' -%}
{%- assign depth = parts | size -%}
{%- assign depth = depth | plus:1 -%}
{%- assign isChildren = false -%}
{%- for second in secondlevel -%}
  {%- if second.url contains include.current and second.url != include.current and second.navhide != 1 -%}
    {%- assign isChildren = true -%}
  {%- endif -%}
{%- endfor -%}

{%- if isChildren == true -%}
<div class="row row-cols-1 row-cols-md-2">
  {%- for second in secondlevel -%}
    {%- capture slug -%}{{ second.url | split: "/" | last }}{%- endcapture -%}
    {%- capture current -%}{{ second.url | remove: slug | remove: "//" | append: "/" }}{%- endcapture -%}
    {%- if include.current == current and second.navhide != 1 and second.title != '' -%}
      {%- if second.url contains "ivano-frankivska" -%}
      <div class="col mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ site.data.labels.recently_added }}</h5>
            <div class="card-text">{%- include home/recently.html region="all" -%}</div>
          </div>
        </div>
      </div>
      {%- endif -%}
      <div class="col mb-4">
        <div class="card">
          {%- assign dir = second.dir | append: 'images/' -%}
          {%- assign path = slug | prepend: dir | append: '.jpg' -%}
          {%- assign file = site.static_files | where: "path", path | first -%}
          {%- if file -%}<img src="//images.weserv.nl/?url={{ site.url | replace: 'http://','' | replace: 'https://','' }}{{ file.path | url_decode | relative_url }}&w=538&h=220&fit=cover&a=attention&output=jpg&q=50&t=square" class="card-img-top" alt="{{slug}}">{%- endif -%}
          <div class="card-body">
            <h5 class="card-title">
              <a href="{{ second.url }}">{%- if second.navtitle -%}{{ second.navtitle }}{%- else -%}{{ second.title }}{%- endif -%}</a>
            </h5>
            {%- include home/card.html region=slug url=second.url -%}
          </div>
        </div>
      </div>
    {%- endif -%}
  {%- endfor -%}
</div>
{%- endif -%}
