<div class="row">
  {%- assign ones = site.pages | sort: 'path' | reverse -%}
  {%- for one in ones -%}
    {%- capture slug -%}{{ one.url | split: "/" | last }}{%- endcapture -%}
    {%- capture current -%}{{ one.url | remove: slug | remove: "//" | append: "/" }}{%- endcapture -%}
    {%- if include.dir == current and one.url contains include.current -%}
      <div class="col-12">
        <h3 class="mb-4">{%- if one.navtitle -%}{{ one.navtitle }}{%- else -%}{{ one.title }}{%- endif -%}</h3>
      </div>
      <div class="col-12">{%- include home/region.html current=one.url -%}</div>
    {%- endif -%}
  {%- endfor -%}
</div>
